body {
	background: #fff;
	color: #222;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* Social club css */
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

body img, body h3 {
	margin-left: 1%;
}

body img {
	margin-top: 1%;
}

#tabs{
	margin-bottom: 5em;
	margin-right: 1%;
	margin-left: 1%;
}

#tabs li .ui-icon-close {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0.1em;
	cursor: pointer;
	cursor: hand;
}

#tabs .ui-tabs-panel table a,
#tabs .ui-tabs-panel #jobdetail a {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}
#tabs .ui-tabs-panel table a:hover,
#tabs .ui-tabs-panel #jobdetail a:hover {
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}

#footer {
	width: 100%;
	height: 3em;
	position: fixed;
	bottom: 0%;
	opacity: 0.9;
	/* background: #fcd797; */
	background: #8c8c8c;
	border-top: solid 0.1em #222;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
    line-height: 20px;
}

#footer-links {
	padding: 1em;
}

#footer a {
	color: #fff;
	text-decoration: none;
}
#footer a:hover {
	color: #fff;
	text-decoration: underline;
}

#action-status {
	font-weight: bold;
	margin: 0.3em;
	padding: 0.3em;
	border-radius: 0.5em;
}
#action-status.success {
	background-color: #fcc465;
	border: 0.1em solid #8c8c8c;
}
#action-status.failed {
	background-color: #e6e6e6;
	border: 0.1em solid #fcc465;
	color: red;
}

#warning {
	display: none;
	position: fixed;
	opacity: 0.8;
	padding: 1.5em;
	background-color: #fcc465;
	color: #222;
	border: 1px solid #8c8c8c;
	border-radius: 0 0.5em 0.5em 0;
	box-shadow: 4px 4px 8px rgba(0,0,0,.5);
	bottom: 3.5em;
	left: 0em;
	width: 30em;
	height: 2.5em;
	z-index: 500;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: large;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

.user {
  	position: absolute;
	display: none;
	width: 350px;
	height: 160px;
	background-color: #fcd797;
	border: 2px solid #eee;
	border-radius: 15px;
	box-shadow: 4px 4px 8px rgba(0,0,0,.5);
	opacity: 0.95;
	z-index: 1000;
}

.user img {
	position: absolute;
	left: 0px;
	top: 0px; 
	margin: 5px;
	width: 100px;
	height: 150px;
}

.user .user-info {
	position: absolute;
	left: 105px;
	margin: 5px;
}

.user .user-info .user-info-name {
	font-weight: bold;
	font-size: small;
}
.user .user-info .user-info-rest {
	font-size: x-small;
}

.data-id {
	width: 10em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/*display: block;*/
}

.job-files {
  	position: absolute;
	width: 600px;
	/*max-width: 800px;*/
	max-height: 400px;
	background-color: #fff;
	border: 2px solid #eee;
	border-radius: 15px;
	box-shadow: 4px 4px 8px rgba(0,0,0,.5);
	opacity: 0.95;
	z-index: 1000;
	overflow-y: auto;
	overflow-x: hidden;
}

.job-files table {
	margin: 2.5%;
	border: 1px solid #eee;
	width: 95%;
}

.job-files table th{
	background-color: #FCC465;
}
.job-files table td .even{
	background-color: #fff;
}
.job-files table td .odd{
	background-color: #eee;
}

/* Job Results*/

.job-results {
  	position: absolute;
	width: auto;
	max-width: 250px;
	max-height: 400px;
	background-color: #fff;
	border: 2px solid #eee;
	border-radius: 15px;
	box-shadow: 4px 4px 8px rgba(0,0,0,.5);
	opacity: 0.95;
	z-index: 1000;
	overflow-y: auto;
	overflow-x: hidden;
}

.job-results table {
	margin: 2.5%;
	border: 1px solid #eee;
	width: 95%;
}

.job-results table th{
	background-color: #FCC465;
}
.job-results table td .even{
	background-color: #fff;
}
.job-results table td .odd{
	background-color: #eee;
}


#joblist label {
	padding: 5px;
	/*border-radius: 10px;*/
	border-radius: 5px;
}

.pending { background-color: rgba(50, 124, 203, 0.5); }
.pending td.sorting_1 { background-color: rgba(50, 124, 203, 0.3); }
.pending td.sorting_2 { background-color: rgba(50, 124, 203, 0.2); }
.pending td.sorting_3 { background-color: rgba(50, 124, 203, 0.1); }

.assigned { background-color: rgba(247, 196, 31, 0.5); }
.assigned td.sorting_1 { background-color: rgba(247, 196, 31, 0.3); }
.assigned td.sorting_2 { background-color: rgba(247, 196, 31, 0.2); }
.assigned td.sorting_3 { background-color: rgba(247, 196, 31, 0.1); }

.completed { background-color: rgba(124, 163, 65, 0.5); }
.completed td.sorting_1 { background-color: rgba(124, 163, 65, 0.3); }
.completed td.sorting_2 { background-color: rgba(124, 163, 65, 0.2); }
.completed td.sorting_3 { background-color: rgba(124, 163, 65, 0.1); }

.errors { background-color: rgba(128, 9, 9, 0.5); }
.errors td.sorting_1 { background-color: rgba(128, 9, 9, 0.3); }
.errors td.sorting_2 { background-color: rgba(128, 9, 9, 0.2); }
.errors td.sorting_3 { background-color: rgba(128, 9, 9, 0.1); }

.skipped { background-color: rgba(51, 34, 34, 0.5); }
.skipped td.sorting_1 { background-color: rgba(51, 34, 34, 0.3); }
.skipped td.sorting_2 { background-color: rgba(51, 34, 34, 0.2); }
.skipped td.sorting_3 { background-color: rgba(51, 34, 34, 0.1); }
 
.aborted { background-color: rgba(229, 52, 114, 0.5); }
.aborted td.sorting_1 { background-color: rgba(229, 52, 114, 0.3); }
.aborted td.sorting_2 { background-color: rgba(229, 52, 114, 0.2); }
.aborted td.sorting_3 { background-color: rgba(229, 52, 114, 0.1); }

.clienterror { background-color: rgba(248, 100, 90, 0.5); }
.clienterror td.sorting_1 { background-color: rgba(248, 100, 90, 0.3); }
.clienterror td.sorting_2 { background-color: rgba(248, 100, 90, 0.2); }
.clienterror td.sorting_3 { background-color: rgba(248, 100, 90, 0.1); }


/* Tasks Related Classes */

.ex_highlight_row tr.odd.row_selected {

	background-color: #E2FF89;
}

.ex_highlight_row tr.odd.row_selected td.sorting_1 {

	background-color: #E2FF89;
}
.ex_highlight_row tr.odd.row_selected td.sorting_2 {

	background-color: #E2FF89;
}
.ex_highlight_row tr.odd.row_selected td.sorting_3 {

	background-color: #E2FF89;
}

.ex_highlight_row tr.even.row_selected {

	background-color: #E2FF89;
}

.ex_highlight_row tr.even.row_selected td.sorting_1 {

	background-color: #E2FF89;
}
.ex_highlight_row tr.even.row_selected td.sorting_2 {

	background-color: #E2FF89;
}
.ex_highlight_row tr.even.row_selected td.sorting_3 {

	background-color: #E2FF89;
}

/*
.ex_highlight_row tr.even:hover {
	background-color: #ECFFB3;
}

.ex_highlight_row tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

.ex_highlight_row tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

.ex_highlight_row tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

.ex_highlight_row tr.odd:hover {
	background-color: #E6FF99;
}

.ex_highlight_row tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

.ex_highlight_row tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

.ex_highlight_row tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}*/