﻿<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

<html>
	<div style="font-size:13px; font-family:Arial;">
	<b><#= title #></b><br>
	<br>
	<# foreach(string line in reportSummaryLines) { #>
	<#= line #><br>
	<# } #>
	<br>
	<img src=cid:triggeredLinesChart><br>
	<img src=cid:linesOfDialoguePercentage><br>
	<# foreach(string line in repeatingTimeLines) { #>
	<# if(printLineBold){ #><b><#= line #></b><br><# } else { #><#= line #><br><# } #>
	<# printLineBold=line==""; #>
	<# } #>
	</div>
</html>