/*@import url("CustomTooltip.css");*/

#line-area-chart,
#line-area-overlay-chart {
	width: 100%;
	height: 100%;
	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    
    padding: 0;
	margin: 0;
}

#line-area-chart svg,
#line-area-overlay-chart svg {
	
	width: 100%;
	height: 99.9%;
	
	padding: 30;
	margin: 0;
	
	-moz-user-select: none;
    display: block;
	
	/*
	border-radius: 10px;
	box-shadow: 4px 4px 8px rgba(0,0,0,.5);
	*/
}

#line-area-chart svg .x-axis text,
#line-area-chart svg .y-axis text {
	font-size: 0.9em;
	stroke-width: 0.07em;
}

#line-area-overlay-chart svg .x-axis text,
#line-area-overlay-chart svg .y-axis text {
	font-size: 0.9em;
	stroke-width: 0.07em;
}

.x-axis path,
.y-axis path,
.x-axis line,
.y-axis line {
	fill: transparent;
}

.tick {
	opacity: 0.3;
}

.min-max-area {
	stroke-width: 0.1em;
	opacity: 0.7;
}

.min-line-circle,
.max-line-circle {
	stroke-width: 0.1em;
	opacity: 0.8;
	fill: transparent;
}

/* hardcoded for png export - b #1630718 */

.value-line {
 	fill: none;
  	stroke-width: 0.2em;
  	stroke-linecap: round;
}

.value-line-circle {
	fill: transparent;
	stroke-width: 0.15em;
	stroke-linecap: round;
}

/*
.avg-line {
  	fill: none;
  	stroke-width: 0.2em;
  	opacity: 0.8;
}

.avg-line-circle {
	fill: transparent;
	stroke-width: 0.15em;
	opacity: 0.8;
}
*/

.legend {
	stroke-width: 0.07em;
	fill: transparent;
}

.tooltip {
	min-width: 25em;
  	min-height: 12.5em;
}
