@media print{@page {size: landscape}}

body {
	background: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* Social club css */
    font-size: 13px;
    line-height: 18px;
}

#header {
	display: none;
}
#navigation {
	display: none;
}
#content {
	position: absolute;
	max-width: 1000px;
	max-height: 800px;
	left:0;
	top:0;
}
#sub-header {
	/*display: none;*/
}

#sub-header .one-third-element{
	display: none;
}
#sub-header .two-third-element {
	width: 99%;
}

#piechart {
	width: 50%;
}
#barchart {
	width: 50%;
}
fieldset.chart-field legend {
	color: #000;
	background-color: #fff;
}

.nvtooltip {
	display: none;
} 
