﻿@model ToolsPortal.ViewModels.BaseViewModel

@{   
    ViewBag.Title = ViewContext.RouteData.Values["action"] + Model.TitleSeparator + Model.SelectedProject.ShortName
                    + Model.TitleSeparator + Model.Title;
    ViewBag.ContentTitle = Model.FullTitle + Model.TitleSeparator
                                + "<span class='last'>" + ViewContext.RouteData.Values["action"] + "</span>";

    String Username = User.Identity.Name.ToString();
}

<!-- Import Automation Style -->
@Styles.Render("~/Content/style/automation")
<!-- Import Scripts -->
@Scripts.Render("~/bundles/AutomationList")

@{
    String DivId = "automation-view";
    
    <div id="@DivId"></div>

    <script type="text/javascript">
        var ulogHost = "@Url.Action("Index", "Ulog")";
        var ulogGetHost = "@Url.Action("GetULog", "Ulog")";
        var username = "@Username";
        var automationJobsListRest = "@Url.Action("AutomationJobsList", 
                new { id = @Model.AutomationServicesConfig.GetAllServices().FirstOrDefault().Views.FirstOrDefault().WebAlias })";
        var imagesRootURI = "@Url.Content("~/Content/images/")";
            
        var automationServiceObj = {
            allServicesJobs: true,
            elementId: "@DivId",
            username: username,
            ulogHost: ulogHost,
            ulogGetHost: ulogGetHost,
            automationJobsListRest: automationJobsListRest,
            imagesRootURI: imagesRootURI,
        };

        var _automationService = new AutomationList(automationServiceObj);
        _automationService.initAutomationList();

    </script>
}


