﻿@using System.Configuration;
@using RSG.Model.Deployment.Game
@model RSG.ToolsPortal.ViewModels.DeploymentViewModel

@{
    ViewBag.Title = Model.SelectedProject.ShortName + Model.TitleSeparator + Model.Title;
    ViewBag.ContentTitle = Model.FullTitle;
    ViewBag.ContentDescription = Model.SelectedProject.Name + Model.TitleSeparator + "Game Build Version"
                                                                            + Model.TitleSeparator + "Details";

    String VersionView = @Model.SelectedGameBuildVersion.MajorVersion
                        + ConfigurationManager.AppSettings["DeploymentVersionViewSeparator"]
                        + @Model.SelectedGameBuildVersion.MinorVersion;
    String VersionURI = @Model.SelectedGameBuildVersion.MajorVersion
                        + ConfigurationManager.AppSettings["DeploymentVersionURISeparator"]
                        + @Model.SelectedGameBuildVersion.MinorVersion;
                    
    String confirmClassname = "confirm-delete";
}
@Scripts.Render("~/bundles/Deployment")

<table>
    <tr>
        <th class="title" colspan="2">
            Details of Version @VersionView
        </th>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedGameBuildVersion.MajorVersion)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedGameBuildVersion.MajorVersion)
        </td>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedGameBuildVersion.MinorVersion)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedGameBuildVersion.MinorVersion)
        </td>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedGameBuildVersion.Label)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedGameBuildVersion.Label)
        </td>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedGameBuildVersion.Timestamp)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedGameBuildVersion.Timestamp)

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedGameBuildVersion.Notes)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedGameBuildVersion.Notes)
        </td>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedGameBuildVersion.Deployed)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedGameBuildVersion.Deployed)
        </td>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedGameBuildVersion.Archived)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedGameBuildVersion.Archived)
        </td>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedGameBuildVersion.ArchivePath)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedGameBuildVersion.ArchivePath)
        </td>
    </tr>

</table>

<div class="centre">
    <form method="GET" action="@Url.Action("GameBuildVersionEdit", new { id = @VersionURI })">
        <input type="submit" title="Edit @VersionView" value="Edit" class="button-link" />
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        @*
        @Html.ActionLink("Delete", "GameBuildVersionDelete",  
                            new { id = @Version }, 
                            new { @class = "button-link " + @confirmClassname,  @title = "Delete " + @Version}
                        )
        
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        *@
        @Html.ActionLink("View List", "GameBuildVersions", new {  }, new { @class = "button-link",  @title =  "View All Game Build Versions" })
    </form>
</div>

<script type="text/javascript">
    var deployment = new Deployment();
    deployment.addConfirmDialog("@confirmClassname", "Are you sure you want to delete this version?");
</script>