@import url("/shared/css/fonts.css");

body {
	background-color: #333333;
	color: rgba(255, 255, 255, 1);
	font-family: "Calibri", sans-serif;
    font-size: 12px;
    line-height: 12px;
}

fieldset {
	border: none;
	
}

fieldset legend {
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
}

#frontpage-title {
	position: absolute;
	left: 15%;
	top: 200px;
	width: 50%;
	font-size: 30px;
    line-height: 40px;
    padding: 10px;
    
    background-color: rgba(2, 77, 144, 0.8);
	color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(255, 255, 255, 0.5);
    
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
	
	text-align: center;
}

#frontpage-title-alt {
	position: absolute;
	left: 3%;
	top: 3%;
	width: 80%;
	font-size: 30px;
    line-height: 40px;
    padding: 10px;
    
	background-color: rgba(2, 77, 144, 0.8);
	color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(255, 255, 255, 0.5);
		
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
	
	text-align: center;
}

#frontpage-logo {
	position: absolute;
	right: 0;
	top: 3%;
}

#presets {
	position: absolute;		
    width: 94%;
    height: 60%;
    top: 25%;
    right: 3%;
    bottom: 20%;
    left: 3%;   
	border: 1px solid #666;
	border-radius: 10px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
 	background-color: #222;
 	color: #fff;
 	opacity: 0.7;
    text-align: center;
    vertical-align: middle;
}

#presets-title {
	height: 7%;
    color: #E6E6E6;
    padding: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.3em;
}
#presets-title .left {
	text-align: left;
	float: left;
	width: 30%;
}
#presets-title .right {
	text-align: right;
	float: right;
	width: 70%;
}

#presets-list {
	position: absolute;
	width: 99.5%;
	height: 90%;
	top: 6%;
	overflow-y: scroll;
	overflow-x: hidden;
}

#presets-list table {
	border-top: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
}
#presets-list table td {
	border-left: none;
	border-top: none;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	text-align: left;
}
#presets-list table tr:hover td {
	color: #222;
	background-color: rgba(255, 255, 255, 0.9);
	border-right: 1px solid rgba(0, 0, 0, 0.3);
}

#header {
	position: fixed;
	/* top: -14%; header hidden by default - deprecated by varia header heights*/
	/* height: 14%; deprecated by varia header heights */

	top: 0%;
	height: 0%;
	
	left: 15%;
	width: 88%;
	
	z-index: 1000;
	
	/*
	border: 0.05em solid rgba(2, 77, 144, 0.5);
	box-shadow: 0.0em 0.1em 0.1em 0 #024d90;
	*/
	box-shadow: 0.0em 0.5em 0.5em 0 rgb(0, 0, 0);
	
	margin-bottom: 0.5em;
	
	background-color: rgba(150, 150, 150,1);
	color: rgba(255, 255, 255, 1);
	font-family: "Calibri", sans-serif;
    font-size: 12px;
    line-height: 12px;
	
}

#big-header {
	/*
	border-bottom: 1px solid rgba(2, 77, 144, 0.5);
	height: 100px;
	*/
}

#big-header fieldset {
	position: relative;
	height: 100px;
	float: left;
	margin: 0 0.1em;
	border-radius: 0;
	border-color: rgba(204, 204, 204, 0.4); /* #cccccc  */.
}

#big-header fieldset legend {
	margin-top: 5px;
}
#big-header fieldset legend input{
	margin: 0;
	padding: 0;
}

#big-header fieldset select {
	width: 100%;
	height: 90px;
}

#big-header fieldset select.single {
	position: absolute;
	left: 5%;
	width: 90%;
	float: none;
	vertical-align: middle;
	top: 40px;
	height: 30px;
}

#big-header fieldset input {
	width: 50%;
	float: right;
}

#big-header fieldset label {
	width: 50%;
	text-align: left;
	text-transform: uppercase;
}

#big-header fieldset legend label {
	width: 1em;
}
#big-header fieldset legend input {
	width: 1em;
}

#big-header fieldset.socialclub {
	width: 11.5%;
}
#big-header fieldset.socialclub legend {
	float: center;
}
#big-header fieldset.difficulty-tracking {
	width: 27%;	
	margin: 0 1.0em;
}
#big-header fieldset.map-exports {
	width: 27%;	
	margin: 0 1.0em;
}
#big-header fieldset.asset-stats {
	width: 27%;	
	margin: 0 1.0em;
}
#big-header fieldset.resource-stats {
	width: 16%;	
	margin: 0 0.5em;
}
#big-header fieldset.resource-stats input.single-input,
#big-header fieldset.capture-stats input.single-input {
	width: 85%;
}
#big-header fieldset.capture-stats {
	width: 15%;	
	margin: 0 0.5em;
}
#big-header fieldset.cutscene-lights {
	width: 27%;
	height: 7.5em;	
	margin: 0 0.5em;
}

#big-header fieldset input.single-input {
	position: absolute;
	width: 90%;
	float: left;
	top: 40%;
}

#big-header fieldset input[type="checkbox"] {
	position: relative;
	width: 15px;
	float: left;
	top: 40%;
}

#big-header fieldset input.no-label {
	position: absolute;
	left: 0.2%;
	right: 0.2%;
	width: 90%;
	float: none;
	vertical-align: middle;
	top: 40%;
}

#big-header fieldset select {
     width: 100%;
}

#big-header #filter {
	position: absolute;
	top: 35%;
	margin-left: 0.5em;
}

/*
#big-header .description {
	position: relative;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    color: #222222;
    display: inline-block;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    line-height: 18px;
    padding: 4px;
    position: relative;
    text-align: center;
    width: 98%;
    height: 1em;
    margin: 0.1em ;
}
*/

#big-header #first-row {
	height: 120px;
}

/* This is for the whole fieldset */
#small-header {
	position: relative;
	/*
	border-radius: 0.8em;
	border: solid 0.1em #ccc;
	box-shadow: 0.1em 0.1em #ccc;
	*/
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	height: 25px;
}

#small-header .one-fourth-element {
    float: left;
    position: relative;
    width: 25%;
}

#small-header label {
	margin-left: 0.5em;
    text-transform: uppercase;
}

#small-header select {
	height: 100%;
}

#small-header .left-element {
    float: left;
    position: relative;
    width: 49%;
}

#small-header .right-element {
    float: right;
    position: relative;
    width: 49%;
}

#small-header .one-second-element {
    float: left;
    position: relative;
    width: 40%;
}

#small-header .one-third-element {
    float: left;
    position: relative;
    width: 30%;
}

#small-header .one-fourth-element {
    float: left;
    position: relative;
    width: 25%;
}

#small-header label {
	margin-left: 0.5em;
    text-transform: uppercase;
}

#small-header .radios,
#small-header .left-element select,
#small-header .right-element select {
    width: 70%;
}

#small-header .one-third-element select,
#small-header .one-fourth-element select {
	width: 50%;
}
#small-header .one-second-element select {
	width: 70%;
}

#small-header #filter {
	position: relative;
}

/*
#header fieldset#user-field input,
#header fieldset#dt-user-field input,
#header fieldset#section-field input,
#header fieldset#filter-field input {
	position: absolute;
	width: 90%;
	float: none;
	vertical-align: middle;
	top: 40%;
}
*/


#sub-header {
	position: relative;
	/*
	border-radius: 0.8em;
	border: solid 0.1em #ccc;
	box-shadow: 0.1em 0.1em #ccc;
	*/
	border: solid 1px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding: 4px;
	margin-bottom: 0.5em;
	height: 30px;
}

#description {
	font-style: italic;
    font-weight: bold;
    padding: 4px;
    padding-left: 10px;
    /*
    background-color: rgba(255, 255, 255, 1);
    */
    height: 23px;
   	background-color: rgba(0, 0, 0, 0.07);
   	border-radius: 5px;
}

#friendlier-names-field {
	padding: 5px;
}

.left-element {
    float: left;
    position: relative;
    width: 49%;
}

.right-element {
    float: right;
    position: relative;
    width: 49%;
}

.one-third-element {
    float: left;
    position: relative;
    width: 30%;
}

.two-third-element {
    float: right;
    position: relative;
    width: 65%;
}

.one-fourth-element {
    float: left;
    position: relative;
    width: 25%;
}

#sub-header label {
	margin-left: 0.5em;
    text-transform: uppercase;
}

#sub-header select {
	width: 70%;
}

.radios,
.left-element select,
.right-element select,
.left-element input,
.right-element input {
    width: 70%;
}
.left-element input[type=number],
.right-element input[type=number] {
    width: 10%;
}
.left-element input[type=radio],
.right-element input[type=radio] {
    width: 15px;
}

.one-third-element select,
.one-fourth-element select {
	width: 50%;
}

/* Check token-input-facebbok-local.css
li.token-input-selected-token-facebook {
    background-color: #024d90;
}
div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: #024d90;
    color: #fff;
}
*/

/*
#chart-filter {
	width: 50%;
	position: relative;
	float: left;
}

#chart-filter-input {
	border-radius: 0.5em;
	width: 70%;
	padding: 0.2em;
}
*/

/* Social Club css*/
select {
	border: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    color: #222;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    padding: 3px;
}

input {
	font-size: 12px;
    line-height: 12px;
    padding: 4px;
}

input[type=text] {
	outline: none;
	transition: all 0.25s ease-in-out;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin: 2px;
}

/*
input[type=text]:focus {
    box-shadow: 0 0 5px #fcb131;
    border: 1px solid #fcb131; 
}
*/

#navigation {
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	width: 15%;
	height: 100%;
	
	z-index: 1000;

	overflow-y: auto;
	overflow-x: hidden;
	
	background-color: rgba(150, 150, 150, 1);
	color: rgba(255, 255, 255, 1);
	font-family: "Calibri", sans-serif;
    font-size: 12px;
    line-height: 12px;
}	

#navigation #nav-logo {
	/*
	border-bottom: 1px solid #024d90;
	border-right: 1px solid #024d90;
	*/
	position: relative;
	height: 185px;
}

#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation ul li {
	margin: 0;
	padding: 0;
}

/* Social Club CSS*/
#navigation ul li a {
   	color: #000;
    display: block;
    /*font-size: 16px;*/
    font-size: 13px;
    line-height: 35px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#navigation ul#nav-ul .expanded {
   	border-top: 1px dashed #024d90;
   	border-bottom: 1px dashed #024d90;	
}

#navigation ul li a:hover, #navigation ul li a.active {
	background-color: #024d90;
	/*color: #fcb131;*/
	color: #ffffff;
}
#navigation ul li a.active {
	/*
	background-image: url(/images/active-arrow.png);
	background-repeat: no-repeat;
	background-position: left center;
	*/
}

#navigation ul li a.active:hover {
	background-color: #024d90;
	/*color: #ffffff;*/
   color: #fcb131;
}

#navigation ul li ul li a {
	background-color: rgba(210, 210, 210, 1);
    display: block;
    font-size: 13px;
    padding-left: 30px;
}

#navigation ul li ul li a:hover, #navigation ul li ul li a.active {
	background-color: rgba(2, 77, 144, 0.6);
    /*color: #fcb131;*/
	color: #ffffff;
 }
#navigation ul li ul li a.active {
	background-image: url(/images/active-arrow-margin.png);
	background-repeat: no-repeat;
	background-position: left center;
}

#navigation ul li ul li a.active:hover {
	background-color: rgba(2, 77, 144, 0.8);
    /*color: #ffffff;*/
   color: #fcb131;
}

#navigation ul li ul li ul li a {
	background-color: rgba(210, 210, 210, 1);
    display: block;
    font-size: 10px;
    padding-left: 35px;
}
#navigation ul li ul li ul li a:hover, #navigation ul li ul li ul li a.active {
	background-color: rgba(2, 77, 144, 0.6);
    color: #ffffff;
}
#navigation ul li ul li ul li a.active:hover {
	background-color: rgba(2, 77, 144, 0.6);
    /*color: #ffffff;*/
   color: #fcb131;
}

ul.horizontal-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

ul.horizontal-nav li {
	margin: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline;
}

ul.horizontal-nav li a {
   	color: #000;
    font-size: 12px;
    line-height: 40px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
   	border-radius: 3px;
	border: 1px dashed #024d90;
}

ul.horizontal-nav li a:hover {
	background-color: #024d90;
    color: #ffffff;
}

ul.tab-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

ul.tab-nav li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline;
	
	color: #000;
	background-color: #969696;
	
    font-size: 12px;
    line-height: 40px;
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
    text-decoration: none;
    text-transform: uppercase;
   	border-radius: 2px;
	border: 1px solid #024d90;
}

ul.tab-nav li:hover, ul.tab-nav li.active {
	background-color: #024d90;
    color: #ffffff;
}

ul.tab-nav li.active:hover {
	color: #fcb131;
}

.header-text {
	/*color: #fcb131;*/
	color: #ffffff;
	font-family: "Calibri", sans-serif;
    font-size: 18px;
    line-height: 12px;
    text-transform: none;
}

.arrow-text {
	margin-left: 5px;
	margin-right: 5px;
	background-image: url(/images/active-arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
}

/* End of Social Club CSS */
#content {
	background-color: #333333;
	color: rgba(255, 255, 255, 1);
	font-family: "Calibri", sans-serif;
    font-size: 12px;
    line-height: 12px;
	
	position: absolute;
	
	/* top and height are changed in generic.js*/
	top: 0%;
	height: 100%;
	
	left: 15.5%;
	width: 84%;
}

/* Footer */
#footer {
	width: 100%;
	height: 3em;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.8;
	background: #024d90;
	border-top: solid 0.1em rgba(0,0,0,.5);
	color: #fff;
	font-weight: bold;
	font-size: 16px;
    line-height: 20px;
    z-index: 1100;
}

#footer-links {
	padding: 1em;
}

#footer a {
	color: #fff;
	text-decoration: none;
}
#footer a:hover {
	color: #fff;
	text-decoration: underline;
}
/* Footer End */

#header-toggle {
	position: absolute;
	right: 20px;
	bottom: -22px;
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.85);
	border: 1px solid rgba(2, 77, 144, 0.8);
	border-top: none;
}

#header-toggle a {
	display: block;
	width: 100px;
	height: 20px;
	color: transparent;
}

#nav-toggle {
	position: absolute;
	top: 1.5%;
	right: -10px;
	z-index: 2000;
	background-color: rgba(255, 255, 255, 0.85);
}

#nav-toggle a {
	display: block;
	width: 16px;
	height: 16px;
	color: transparent;
}

/*
.toggle-arrow-up {
	background: url(../../images/toggle-arrow-up.png);
}
.toggle-arrow-down {
	background: url(../../images/toggle-arrow-down.png);
}
.toggle-arrow-left {
	background: url(../../images/toggle-arrow-left.png);
}
.toggle-arrow-right {
	background: url(../../images/toggle-arrow-right.png);
}
*/
.toggle-arrow-up {
	background: url(../../images/toggle-options-up.png);
}
.toggle-arrow-down {
	background: url(../../images/toggle-options-down.png);
}
.toggle-arrow-left {
	background: url(../../images/toggle-arrow-left.png);
}
.toggle-arrow-right {
	background: url(../../images/toggle-arrow-right.png);
}

#loading {
	display: none;
	position: fixed;
	opacity: 0.7;
	padding: 0.5em;
	background-color: #555555;
	color: #fcb131;
	
	border-radius: 5px;
	
	top: 40%;
	left: 50%;
	margin-top: -1.25em;
    margin-left: -10em;
	
	width: 20em;
	height: 2.5em;
	z-index: 1500;
	
	font-family: "Calibri", sans-serif;
	font-size: 20px;
	font-weight: bold;
	
	/*border: 1px solid rgba(252, 177, 49, 0.5);*/
	border: 1px solid rgba(255, 255, 255, 0.7);
	
	text-align: center;
	vertical-align: middle;
}
 
#warning {
	display: none;
	position: fixed;
	opacity: 0.8;
	padding: 1.5em;
	background-color: #222222;
	color: #fcb131;
	border-radius: 0 0.5em 0.5em 0;  
	bottom: 1.5em;
	left: 0em;
	width: 30em;
	height: 2.5em;
	z-index: 2000;
	
	font-family: "Calibri", sans-serif;
	font-size: 20px;
	
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
} 
 
#error {
	position: absolute;
	opacity: 0.8;
	padding: 1.5em;
	background-color: #222222;
	color: #fcb131;
	border-radius: 0.5em 0.5em;  
	top: 20%;
	left: 20%;
	width: 60%;
	height: auto;
	
	font-family: "Calibri", sans-serif;
	font-size: 20px;
	
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
} 
 
#progress-bar {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
 
#progress-info {
	margin-top: 0.1em;
	font-size: medium;
}

/*
#loading .cancel {
	position: absolute;
	top: 5px;
	right: 5px;
}
*/

#loading .cancel {
    background-image: url(/images/overlay-close.png);
    position: absolute;
    right: -13px;
    top: -13px;
    cursor: pointer;
    height: 28px;
    width: 28px;
    z-index: 14000;
}

table {
	width: 100%;
	margin-bottom: 0.5em;
	
	font-size:12px;
	
	border-collapse: collapse;
	/*border-spacing: 0;*/
	border-top: 1px solid rgba(128, 128, 128, 1);
	border-left: 1px solid rgba(128, 128, 128, 1);
		border-bottom: 1px solid rgba(128, 128, 128, 1);
	border-right: 1px solid rgba(223, 66, 66, 1);
}

table.title-only {
	width: 100%;
	margin-bottom: 0;
}
table.title-only th {
	margin: 0;
	border-bottom: 0;
}

table th {
	padding: 0.5em;
	color: #222;
	background-color: #e6e6e6;
	text-transform: uppercase;
	border-left: none;
	border-top: none;
	border-bottom: solid 1px rgba(128, 128, 128, 1);
	border-right: solid 1px rgba(128, 128, 128, 1)
}

table th.title {
	color: #fff;
	background-color: #024d90;
	text-align: left;
}

table th.title a {
	color: #fff;
	text-decoration: underline;
}
table th.title a:hover{
	color: #fff;
	text-decoration: none;
}

table th.title2,
table th.subtitle {
	color: #fff;
	background-color: rgba(2, 77, 144, 0.8);
	text-align: left;
}

table th.title3 {
	color: #fff;
	background-color: rgba(2, 77, 144, 0.6);
	text-align: left;
}

table td {
	border-left: none;
	border-top: none;
	border-bottom: solid 1px rgba(128, 128, 128, 1);
	border-right: solid 1px rgba(128, 128, 128, 1);
	padding: 0.5em;
}

table td.label {
	font-style: italic;
	width: 30%;
	background-color: #D2D2D2;
	color: #000;
}

table td.delete,
table th.delete {
	width: 5%;
}
table td.delete {
	background-image: url(/images/remove.png);
	background-repeat: no-repeat;
	background-position: center center; 
}
table td.delete:hover {
	background-image: url(/images/remove-hover.png);
}

table td.caching {
	color: #222;
	background-color: rgba(252, 177, 49, 0.7);
}

table.with-border {
	border: #024d90 1px solid;
}

table.tablesorter thead tr .header {
	background-image: url(/images/sort-bg.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/images/sort-asc.png);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/images/sort-desc.png);
}
table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp {
	background-color: #b2b2b2;
}
/*
table.tablesorter tbody tr.odd {
	background-color: rgba(230, 230, 230, 0.3); #e6e6e6
}
*/
fieldset .collapsed {
	display: none;	
}

fieldset .report-graph {
	position: relative;
	border-radius: 0;
	height: auto;
	width: 98%;
}
fieldset .report-graph legend {
	font-weight: bold;
	position: relative;
}

.hand {
	cursor: pointer;
}

.add {
	background-image: url(/images/add.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 18px; /* a bit more than the bg image */ 
	padding-top: 0px;
	padding-bottom: 2px;
}

.single-graph {
    height: 94.5%;
    position: relative;
}

.green {
	color: green;
}
.red {
	color: red;
}

.no-white-space {
	white-space: pre;
}

.fixed {
	position: fixed;
}

.hidden {
	display: none;
}

.disabled {
	background-color: #ddd;
}

.clear {
	clear: both;
}


/*
.rect-box {
	padding: 5px;
	margin-bottom: 5px;
	border: solid 1px #ccc;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
}
*/
