#sub-header label {
	margin-left: 1em;
}

#sub-header select {
	width: 11%;
}

#map-wrapper {
	height: 95%;
	position: relative;
}

#map {
	width: 70%;
	height: 100%;
	overflow: hidden;
    float: left;
    position: relative;
}

#map-side-options {
	position: relative;
	width: 25%;
	float: right;
}

/*
#fps-overlay-options {
	position: relative;
	text-align: left;
	display: none;
}

#fps-overlay-options label {
	text-align: left;
	width: 45%;
}

#fps-overlay-options select {
	float: right;
	width: 55%;
}


#automated-tests select {
	width: 100%;
}

*/

.heatmap-options {
	border: 0;
	padding: 5px;
	margin-top: 2em;
	text-align: center;
	border: 1px solid #ccc;
}

.heatmap-slider .ui-slider-range {
	background: none;
	border: none;
}

.heatmap-slider .ui-state-default,
.heatmap-slider .ui-widget-content .ui-state-default,
.heatmap-slider .ui-widget-header .ui-state-default {
	background: url(/images/slider-range-arrows.png) no-repeat;
	border: none;
	width: 15px; 
	height: 30px;
}

.value-slider .ui-slider-range {
	background: none;
}

.value-min{
	position: relative;
	float: left;
}
.value-med{
	position: relative;
}
.value-max{
	position: relative;
	float: right;
}

.threshold-value {
	position: relative;
	float: left;
}

.heatmap-slider-placeholder canvas {
	width: 100%;
	height: 20px;
}

.heatmap-gradient canvas {
	width: 100%;
	height: 20px;
}

.heatmap-min{
	position: relative;
	float: left;
}
.heatmap-max{
	position: relative;
	float: right;
}

.overlay-options {
	position: relative;
	text-align: left;
	display: none;
}

#spawn-overlay-options.overlay-options{
	display: inherit;
}

.overlay-options label {
	text-align: left;
	width: 45%;
}

.overlay-options select {
	float: right;
	width: 55%;
}

.overlay-options input[type=number] {
	margin-top: 0.5em;
	float: right;
	width: 20%;
}

.full-width-select select {
	position: relative;	
	width: 100%;
	float: right;
	margin-bottom: 1em;
}

.select-height select {
	margin-top: 0.5em;
	height: 30em;
}

/*
#deaths-overlay-options {
	position: relative;
	text-align: left;
	display: none;
}

#deaths-overlay-options label {
	text-align: left;
	width: 45%;
}

#deaths-game-type select{
	float: right;
	width: 55%;
}

 
#cps-overlay-options {
	position: relative;
	text-align: left;
	display: none;
}

#cps-overlay-options label {
	text-align: left;
	width: 45%;
}

#cps-overlay-options select {
	float: right;
	width: 55%;
}

#pst-overlay-options {
	position: relative;
	text-align: left;
	display: none;
}

#pst-overlay-options label {
	text-align: left;
	width: 45%;
}

#pst-overlay-options select {
	float: right;
	width: 55%;
}

#msf-overlay-options {
	position: relative;
	text-align: left;
	display: none;
}

#msf-overlay-options label {
	text-align: left;
	width: 45%;
}

#msf-overlay-options select {
	float: right;
	width: 55%;
}
*/

#map-layers {
	position: relative;
	text-align: left;
}

.map-grid {
	stroke: #aaa;
	stroke-width: 0.5; 
}

#telemetry-overlay rect{
	stroke: #222;
  	stroke-width: 0.1;
  	opacity: 0.5;
}

#telemetry-overlay rect.active {
	stroke: #222;
 	stroke-width: 0.3;
 	opacity: 0.9;
}

#telemetry-overlay circle {
	/*
  	opacity: 0.6;
  	stroke: #0054E6;	config.chartColour2
  	stroke-width: 0.3;
  	fill: #ff6600;		config.chartColour1
  	*/
}

#telemetry-overlay circle.active{
}
/* CSS for map exports overlay page */

#sections-overlay path{
  stroke: #222;
  stroke-width: 1;
  opacity: 0.4;
}

#sections-overlay path.active {
 	stroke-width: 1;
 	opacity: 0.9;
}

#performance-overlay {
	display: none;
    width: 80%;
    height: 80%;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;    
	border-radius: 1em;
	box-shadow: #000 1em;  
 	background-color: #222;
 	color: #fff;
 	opacity: 0.7;
 	z-index: 1200;
    border: 1px solid #666;
}

#performance-overlay .close {
    background-image: url(../../images/overlay-close.png);
    position: absolute;
    right: -13px;
    top: -13px;
    cursor: pointer;
    height: 28px;
    width: 28px;
    z-index: 1400;
}

#performance-overlay fieldset {
	height: 97%;
}

#performance-overlay fieldset legend {
	color: #fff;
}

#performance-report {
	position: absolute;
	width: 98%;
	height: 95%;
	overflow-y: scroll;
	overflow-x: hidden;
}

/*
#performance-overlay table {
	width: 100%;
	margin-bottom: 2em;
	border: solid #fff 0.1em;
}

table th {
	padding: 0.5em;
	color: #222;
	background-color: #e6e6e6;
	text-transform: uppercase;
}

table th.title {
	color: #fff;
	background-color: #558621;
}

table td {
	border: solid 1px #ccc;
	padding: 0.5em;
}

table td.label{
	font-style: italic;
	width: 50%;
}
*/

select option{
	background-color: rgba(255, 255, 255, 0.01);
}

span.has-automated-everything {
	background: url(/images/has_automated_everything.png);
	background-repeat: no-repeat;
	background-position: right;
}

.has-automated-map-only {
	background: url(/images/has_automated_map_only.png);
	background-repeat: no-repeat;
	background-position-x: -40;
}
.has-memshortfall {
	background: url(/images/has_memshortfall.png);
	background-repeat: no-repeat;
	background-position-x: -60;
}
.has-shapetest {
	background: url(/images/has_shapetest.png);
	background-repeat: no-repeat;
	background-position-x: -80;
}
