﻿ <!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
    	<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
		<!-- IE set to latest comp mode -->
   		<meta http-equiv="X-UA-Compatible" content="IE=edge" >

        <link rel="shortcut icon" href="@Url.Content("~/Content/images/rockstar-icon-circle-dark.png")" />

        <!-- Import Styles -->
        @Styles.Render("~/Content/themes/smoothness/jqueryuitheme")
        @Styles.Render("~/Content/shared/generic")

        <!-- Import Scripts -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jquery-fullscreen-event")

        <script type="text/javascript">
            var msMinVersion = 10;
            var mozMinVersion = 4;
            var unsupportedBrowserPage = "@Url.Content("~/Content/UnsupportedBrowser.html")";
        </script>
        @Scripts.Render("~/bundles/detect-browser")

        @Scripts.Render("~/bundles/d3js")

        @Scripts.Render("~/bundles/antiscroll")
        @Scripts.Render("~/bundles/generic")

    </head>

    <body>
        @RenderPage("_EmptyNavigation.cshtml")

        <div id="content">
            <div id="validation">
                @Html.ValidationSummary(true)
            </div>

            @RenderBody()
        </div>
    </body>

</html>