﻿<div id="navigation">

    <div id="nav-logo">
        <img src="@Url.Content("~/Content/images/rockstar-games-logo.png")" title="Rockstar Games" alt="Rockstar Games Logo" />
    </div>

    <div class="antiscroll-wrap">
        <div id="nav-ul-wrap">
        </div>
    </div>

</div>