﻿@model ToolsPortal.ViewModels.BaseViewModel

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
    	<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
		<!-- IE set to latest comp mode -->
   		<meta http-equiv="X-UA-Compatible" content="IE=edge" >

        <link rel="shortcut icon" href="@Url.Content(@Model.IconPath)" />

        <!-- Import Styles -->
        @Styles.Render("~/Content/themes/smoothness/jqueryuitheme")
        @Styles.Render("~/Content/shared/generic")

        <!-- Import Scripts -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jquery-fullscreen-event")

        <script type="text/javascript">
            var msMinVersion = 10;
            var mozMinVersion = 4;
            var unsupportedBrowserPage = "@Url.Content("~/Content/UnsupportedBrowser.html")";
        </script>
        @Scripts.Render("~/bundles/detect-browser")

        @Scripts.Render("~/bundles/d3js")
        
        <!-- Import Datatables -->
        @Styles.Render("~/Content/style/dataTablesStyle")
        @Scripts.Render("~/bundles/dataTables")
        @*
        @Scripts.Render("~/bundles/jquery-tablesorter")
        *@
        @Scripts.Render("~/bundles/antiscroll")
        @Scripts.Render("~/bundles/generic")
    </head>

    <body>
        @RenderPage("_Navigation.cshtml")

        <div id="content">
		    <div id="content-title">
                @Html.Raw(@ViewBag.ContentTitle)
                <div id="username">                  
                    @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logout-form" })) {
                        @Html.AntiForgeryToken()
                        
                        <span><span title="Logged In as @User.Identity.Name">@User.Identity.Name</span> - </span>

                        <a class="noChildren" 
                           title="Log out (@User.Identity.Name)"
                           href="javascript:document.getElementById('logout-form').submit()">Log out</a>
                    }
                </div>
		    </div>
		    <div id="content-description">@Html.Raw(@ViewBag.ContentDescription)</div>
		    <div id="content-body">
                <div id="validation">
                    @Html.ValidationSummary(true)
                </div>
                 @RenderBody()
            </div>
        </div>
    </body>

</html>