﻿@using RSG.Base.Configuration.Automation

@model ToolsPortal.ViewModels.BaseViewModel

<div id="navigation">

    <div id="nav-logo">
        @if (@Model.SelectedProject != null){
            <img src="@Url.Content(@Model.SelectedProject.LogoPath)" 
                    title="@Model.SelectedProject.Name" alt="@Model.SelectedProject.Name Logo" />    
        }
        else {
            <img src="@Url.Content(@Model.LogoPath)" 
                    title="Rockstar Games" alt="Rockstar Games Logo" />    
        }
        
    </div>

    <div class="antiscroll-wrap">
        <div id="nav-ul-wrap">
            <ul id="nav-ul" class="antiscroll-inner">
                <li style="display: inherit;">
                    <a class="noChildren @Helpers.AddClass(@Url.Action("Index", "Home"), "active")"
                        href="@Url.Action("Index", "Home")" title="Projects">Projects</a>
                </li>

                @* Project Home Page *@
                @if (@Model.SelectedProject != null) 
                {
                <li style="display: inherit;">
                    <a class="noChildren @Helpers.AddClass(@Url.Action("Index", "Project"), "active")"
                        href="@Url.Action("Index", "Project")" title="@Model.SelectedProject.Name Home">
                            @Model.SelectedProject.ShortName Home
                    </a>
                </li>
                }

                @* Project's Automation Services *@
                @if (@Model.AutomationServices.Count() > 0)
                {
                 <li style="display: inherit;">
                    <a href="#" title="Automation">
                        Automation
                    </a>

                    <ul class="hidden">

                        <!-- Automation Status -->
                        <li style="display: inherit;">
                            <a href="@Url.Action("AutomationStatus")" title="Services Status"
                                class='@Helpers.AddClass(@Url.Action("AutomationStatus"), "active")'>
                                Status
                            </a>
                        </li> 
                        
                        <!-- Automation Graphs Entry -->
                        <li>
                            <a href="#" title="Automation Views">Views</a>
                            <ul class="hidden">
                            @{
                                foreach (IAutomationServiceConfig service in Model.AutomationServices)
                                {
                                    foreach (IAutomationServiceViewConfig serviceView in service.Views)
                                    {
                                        <li>
                                            <a href="@Url.Action("Automation", new { id = @serviceView.WebAlias })"
                                                title="@serviceView.Name [@service.WebHost]"
                                                class='@Helpers.AddClass(Url.Action("Automation", new { id = @serviceView.WebAlias }), "active")'
                                                >
                                                @serviceView.Name <br/> @service.Studio.FriendlyName
                                            </a>
                                        </li>
                                    }
                                }
                            }
                            </ul>
                        </li>
                    
                        <!-- Automation Graphs Entry -->
                        <li>
                            <a href="#" title="Automation Graphs">Graphs</a>
                            <ul class="hidden">
                                @{
                                    foreach (IAutomationServiceConfig @service in @Model.AutomationServices)
                                    {
                                        foreach (IAutomationServiceViewConfig serviceView in service.Views)
                                        {
                                            <li>
                                                <a href="@Url.Action("AutomationGraphs", new { id = @serviceView.WebAlias })"
                                                    title="@service.FriendlyName [@service.WebHost]"
                                                    class='@Helpers.AddClass(@Url.Action("AutomationGraphs", new { id = @serviceView.WebAlias }), "active")'
                                                    >
                                                    @service.FriendlyName <br/> @service.Studio.FriendlyName
                                                </a>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        </li>

                     </ul>
                </li>
                    
               }

                @* Project's Deployment Services *@
                @if (@Model.SelectedProject != null) {
                <li>
                    <a href="#" title="Deployment">Deployment</a>
                    <ul class="hidden">
                        <li>
                            <a class="noChildren @Helpers.AddClass(@Url.Action("GameBuildVersions", "Project"), "active")"
                                href="@Url.Action("GameBuildVersions", "Project")" title="Game Build Versions">
                                Game Build Versions
                            </a>
                        </li>
                        <li>
                            <a class="noChildren @Helpers.AddClass(@Url.Action("GameBuildMachineTracking", "Project"), "active")"
                                href="@Url.Action("GameBuildMachineTracking", "Project")" title="Game Build Machine Tracking">
                                Game Build Machine Tracking
                            </a>
                        </li>
                        <li>
                            <a class="noChildren @Helpers.AddClass(@Url.Action("ToolsVersions", "Project"), "active")"
                                href="@Url.Action("ToolsVersions", "Project")" title="Tools Versions">
                                Tools Versions
                            </a>
                        </li>
                    </ul>
                </li>
                }
            
                <!-- Project's Stats -->
                @if ((@Model.ProjectPortalConfig != null) && (@Model.ProjectPortalConfig.StatisticServers.Count() > 0))
                {
                <li>
                    <a href="#" title="Stats">Statistics</a>
                    <ul class="hidden">
                    @{
                    foreach (var server in @Model.ProjectPortalConfig.StatisticServers)
                    {
                            <li>
                                <a href="@server.WebHost" title="@server.Name" target="_blank">
                                    @server.Name
                                </a>
                            </li>
                    }
                    }
                    </ul>
                </li>
                }

                <!-- Universal Log Viwer Links -->

                <li>
                    <a href="@Url.Action("Index", "Ulog")"
                        title="Universal Log Viewer"
                        class='noChildren @Helpers.AddClass(@Url.Action("Index", "Ulog"), "active")'>
                        Universal Log Viewer
                    </a>
                </li>

                <!-- Constant Tools Links -->
                <li>
                    <a class="noChildren" href="https://devstar.rockstargames.com/wiki/index.php"
				            title="Devstar Wiki" target="_blank">Devstar Wiki</a>
                </li>
                <li>
                    <a class="noChildren" href="mailto:*Tools@rockstarnorth.com?subject=Tools Portal"
					        title="Contact Tools" target="_blank">Contact Tools</a>
                </li>
            
            </ul>

        </div> <!-- End of -->

    </div> 

</div> <!-- #navigation -->

<!-- run this when the menu is loaded / perhaps we should move it to a separate script file -->
<script type="text/javascript">
    $(function () {
        // Enable the antiscroll plugin and bind event on windows resize
        $(window).on("load resize", function () {
            $("#nav-ul-wrap").css({
                height: $(window).height() - $("#nav-logo").height(),
            });
        }).resize();

        var scroller = $("#nav-ul-wrap").antiscroll().data("antiscroll");

        $(window).resize(function () {
            scroller.refresh();
        });

        $("#nav-ul-wrap").antiscroll().data("antiscroll");
            
        // Expand the parent element of an active link
        $("#navigation").find("a.active").each(function () {
            var parent = $(this).parent().parent();
            parent.removeClass("hidden");           // parent ul is hidden
            parent.parent().addClass("expanded");   // parent li should be expanded
            parent.prev().addClass("active");
            
            // do the same for the parent
            var grandParent = parent.parent().parent();
            if (grandParent.hasClass("hidden")) {
                grandParent.removeClass("hidden");
                grandParent.parent().addClass("expanded");
                grandParent.prev("a").addClass("active");
            }
        });

        // Bind the show/hide events in "#" parent links
        $("#navigation").find("a").click(function (e) {
            if ($(this).attr("href") == "#") {
                e.preventDefault();
                $(this).next().slideToggle();
            }

            if ($(this).parent().hasClass("expanded")) // find the parent ul
                $(this).parent().removeClass("expanded");
            else
                $(this).parent().addClass("expanded");
        }); // End of click

        // Append the nav-toggle placeholder div
        $("#navigation").append(
            $("<div>")
                .attr("id", "nav-toggle")
                .attr("title", "Toggle Navigation Menu")
                .addClass("hand")
                .addClass("nav-toggle-hide")
                .click(function () {
                    if ($(this).hasClass("nav-toggle-hide")) {
                        hideNav(animate = true);
                        //hideNav(false);
                    }
                    else {
                        showNav(animate = true);
                        //showNav(false);
                    }
                })
        );

        // Hide on fullscreen
        $(window).bind("fullscreen", function (e, is_fullscreen) {
            if (is_fullscreen) {
                hideNav(animation = false);
            }
            else {
                //in case it's hidden
                showNav(animation = false);
            }
        });
    });

    // Original style from CSS
    var navProps = {
        navWidth: 240, // px
        navMinWidth: 10, // px - when hidden
        contentPadding: 42, // px
    };

    function hideNav(animate) {
        var navLeft = -1 * (navProps.navWidth - navProps.navMinWidth);
        //var contentWidth = $(window).width() - navProps.contentPadding - navProps.navMinWidth;
        var contentSize = calContentSize(visibility = false)

        $("#nav-toggle").removeClass("nav-toggle-hide").addClass("nav-toggle-show");
        if (animate) {
            $("#navigation").animate({ left: navLeft }, "slow");
            $("#content").animate(
                /*
                {
                    left: navProps.navMinWidth,
                    width: contentWidth,
                },
                */
                contentSize,
                "slow",
                function () { windowResize(); }
            );
        }
        else {
            $("#navigation").css({ left: navLeft });
            $("#content").css(
                /*
                {
                    left: navProps.navMinWidth,
                    width: contentWidth,
                }
                */
                contentSize
            );
            windowResize();
        }
    }
    function showNav(animate) {
        var navLeft = 0;
        //var contentWidth = $(window).width() - navProps.contentPadding - navProps.navWidth;
        var contentSize = calContentSize(visibility = true)

        $("#nav-toggle").removeClass("nav-toggle-show").addClass("nav-toggle-hide");
        if (animate) {
            $("#navigation").animate({ left: navLeft }, "slow");
            $("#content").animate(
                /*
                {
                    left: navProps.navWidth,
                    width: contentWidth,
                },
                */
                contentSize,
                "slow",
                // Trigger Window resize so the content is being redrawn when needed
                function () { windowResize(visibility = true); }
            );
        }
        else {
            $("#navigation").css({ left: navLeft });
            $("#content").css(
                /*
                {
                    left: navProps.navWidth,
                    width: contentWidth,
                }
                */
                contentSize
            );
            windowResize();
        }

    }

    function calContentSize(visibility) {
        var contentSize = {
            left: 0,
            width: 0,
        }

        if (visibility) {
            contentSize.left = navProps.navWidth;
            contentSize.width = $(window).width() - navProps.contentPadding - navProps.navWidth;
        }
        else {
            contentSize.left = navProps.navMinWidth;
            contentSize.width = $(window).width() - navProps.contentPadding - navProps.navMinWidth;
        }
         
        return contentSize;
    }

    function updateContentWidth() {
        var contentSize = calContentSize(visibility = ($("#nav-toggle").hasClass("nav-toggle-hide") ? true : false));
        $("#content").css(contentSize);
    }

    function windowResize() {
        // Trigger Window resize so the content is being redrawn when needed
        updateContentWidth();
        $(window).trigger("resize");
    }

</script>