.stickbug {
    border-radius: 25px;
    background-color: #e3e3e3;
    width: 80%;
    margin: auto;
    padding: 20px;
    overflow-x: scroll;
}
.bug_filter {
    width: 100%
}
.emoji {
    font-size: large;
}
body {
    background-color: #d3d3d3;
}
li {
    white-space: pre;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 5px;
}
.userline {
    margin-bottom: 1px;
}
.email {
    margin-bottom: 1px;
}
.notbold{
    font-weight: normal;
}​