
.overlay {
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
  padding: 10px;
  border: 1px solid #ddd;
  z-index: 10000;

  font-family: "Chalet-LondonSixty";
  font-size: 13px; !important;
  line-height: 18px;

  box-shadow: 4px 4px 8px rgba(0,0,0,.5);
  border-radius: 10px;

  /*
  pointer-events: none;
  user-select: none;
  
  min-width: 10em;
  min-height: 5em;
  */
  display: none;
  opacity: 0.95;
}

.overlay .overlay-close {
    background-image: url(/images/overlay-close.png);
    position: absolute;
    right: -13px;
    top: -13px;
    cursor: pointer;
    height: 28px;
    width: 28px;
    z-index: 14000;
}

.overlay .title {
	font-size: medium;
	font-weight: bold;
	text-align: center;
	height: 2.5%;
}

.overlay #overlay-graph {
	position: relative;
	margin: 0;
  	padding: 0;
	height: 50%;
}

.overlay .table-wrapper {
	position : relative;
	overflow-y: scroll;
	top: 3%;
	height: 40%;
}

/*
.overlay table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 0px;
  	margin: 0;
  	padding: 0;
}


.overlay table thead tr {
	border: 1px solid #ddd;
}
*/
.overlay td.right {
	text-align: right;
}

.no-scroll {
	overflow: hidden;
	/*
	position: fixed; 
    overflow-y: scroll;
    width: 100%;
    */
}
