/* Tracker for fonts.com */
/*@import url("//fast.fonts.com/t/1.css?apiType=css&projectid=09debfdd-1e82-487c-ac80-6c5fb508bfee");*/

/* Syntax from FontSpring
/* http://www.fontspring.com/blog/further-hardening-of-the-bulletproof-syntax

@font-face {
	font-family: 'MyWebFont';
	src: url('webfont.eot'); /* IE9 Compat Modes
	src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8
	     url('webfont.woff') format('woff'), /* Modern Browsers
	     url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS
	     url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS
}
*/

@font-face {
  font-family: 'Chalet-NewYorkSixty';
  src: url("/shared/fonts/Chalet-NewYorkSixty.eot");
  src: url("/shared/fonts/Chalet-NewYorkSixty.eot?#iefix") format("embedded-opentype"), url("/shared/fonts/Chalet-NewYorkSixty.woff") format("woff"), url("/shared/fonts/Chalet-LondonSixty.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chalet-LondonSixty';
  src: url("/shared/fonts/Chalet-LondonSixty.eot");
  src: url("/shared/fonts/Chalet-LondonSixty.eot?#iefix") format("embedded-opentype"), url("/shared/fonts/Chalet-LondonSixty.woff") format("woff"), url("/shared/fonts/Chalet-LondonSixty.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chalet-ParisSixty';
  src: url("/shared/fonts/Chalet-ParisSixty.eot");
  src: url("/shared/fonts/Chalet-ParisSixty.eot?#iefix") format("embedded-opentype"), url("/shared/fonts/Chalet-ParisSixty.woff") format("woff"), url("/shared/fonts/Chalet-ParisSixty.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; 
}
  

