/**
 * File:: builder.css
 * Description:: Builder application control stylesheet.
 *
 * Author:: David Muir <dhm@davidmuir.co.uk>
 * Date:: 8 February 2009
 */

body
{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
}

table.post
{
	width: 60%;
	table-layout: fixed;
}

tr.post_title_odd
{
	background-color: #CCCCCC;
}

tr.post_title_even
{
	background-color: #EEEEEE;
}

tr.post_subtitle
{
	font-size: small;
}

tr.post_body
{
	font-size: normal;
}

.container
{
}

.menubar
{
	float: left;
	width: 15%;
}

.main
{
	float: left;
	width: 70%;
}

.footer
{
	clear: left;
}

div.flash_error
{
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
	background-color: #FF0000;
}

div.flash_warning
{
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
	background-color: #FF5500;
}

div.flash_notice
{
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
}

/* builder.css */
