<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <!--
        File:: index.rhtml
        Description::

        Author:: David Muir <dhm@davidmuir.co.uk>
        Date:: 8 February 2009
    -->
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<title>AssetBuilder Application Control</title>
		<link REL=StyleSheet HREF="builder.css" TYPE="text/css" MEDIA=screen>
	</head>
	<body>
		<h1>AssetBuilder Application Control</h1>
		<div class="container">
			<div class="menubar">
				<table>
					<tr><td><a href="/">Home</a></td></tr>
				</table>
			</div>
			<div class="main">
			    <h2>Status</h2>
			    <h3>Perforce</h3>
			    <table>
			        <tr>
			            <td>Connected:</td>
			            <td>false</td>
			        </tr>
			        <tr>
			            <td>Current Changelist:</td>
			            <td>0000</td>
			        </tr>
			        <tr>
			            <td>Maximum Changelist:</td>
			            <td>0000</td>
			        </tr>
			    </table>
			    <h2>Control Commands</h2>
			    <form method="post">
			        <input type="text" name="rebuild" />
			        <input type="submit" value="Rebuild" />
			    </form>
			    <form method="post">
			        <input type="hidden" name="status" hidden="true" />
			        <input type="submit" value="Status" />
			    </form>
			</div>
		</div>
		<div class="footer">
			<table>
				<tr>
					<td>
					    Host: <%= ENV['COMPUTERNAME'] %><br />
                        Powered by <a href="http://www.webrick.org/">WEBrick</a> and <a href="http://www.ruby-lang.org/">Ruby</a></a>.<br />
                        Written by <a href="mailto:david.muir@rockstarnorth.com">David Muir</a>.<br />
                        Copyright &copy; 2008-2009 Rockstar North.<br />
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
