﻿@using System.Web.Script.Serialization
@using RSG.Base.Configuration.Automation
@model RSG.ToolsPortal.ViewModels.AutomationViewModel

@{   
    ViewBag.Title = Model.SelectedView.Name + Model.TitleSeparator + ViewContext.RouteData.Values["action"]
                    + Model.TitleSeparator + Model.SelectedProject.ShortName
                    + Model.TitleSeparator + Model.Title;
    ViewBag.ContentTitle = Model.FullTitle + Model.TitleSeparator + ViewContext.RouteData.Values["action"]
                                + Model.TitleSeparator + "<span class='last'>"
                                + Model.SelectedView.Name + " - " + Model.SelectedView.Service.Studio.FriendlyName + "</span>";
} 
                                    
@{ 
    String ViewModeSelectId = "viewmodes";
    String CurrentPageLinkId = "currentPageLink";
    String ViewModeOptions = String.Empty;
    String ViewModeUriParameter = "ViewMode";
}
@foreach (String CurrentViewMode in Enum.GetNames(typeof(ViewMode)))
{
    if (CurrentViewMode != "Default") //Ignore the default enum
    {
        ViewModeOptions += ("<option title='" + CurrentViewMode + "' value='" + CurrentViewMode + "' "
            //+ Helpers.AddTextIfCondition((Model.ViewMode.ToString() == CurrentViewMode), "selected=selected")
                        + ">"
                        + CurrentViewMode + "</option>");
    }
}
@{
    ViewBag.ContentDescription = "Type: " + Model.SelectedView.Service.ServiceType
            + " - ServerHost: " + Model.SelectedView.Service.ServerHost
            + "<span class='right'>"
                + "<span >"
                + "<a id='" + CurrentPageLinkId + "' href='" + Request.Url.AbsoluteUri + "' title='" + Request.Url.AbsolutePath + "'> "
                    + "Link to Current Report"
                + "</a>"
                + "</span>"
                + " - "
                + "<span>Choose View: "
                    + "<select id='" + ViewModeSelectId + "'>"
                        + ViewModeOptions
                    + "</select>"
                + "</span>"
            + "</span>";
}

<!-- Import Automation Style -->
@Styles.Render("~/Content/style/automation")

<!-- Import Scripts -->
@Scripts.Render("~/bundles/automation")
@Scripts.Render("~/bundles/AutomationService")

@{
    String DivId = "automation-view";
    <div id="@DivId"></div>

    <script type="text/javascript">
        var _localViewModeKey = "_LocalViewMode";
        var _selectedViewMode = "";
        var _automationService = null;
        
        $("select#@ViewModeSelectId").change(function () {
            if (_automationService && _automationService.hasOwnProperty("clearDataTable")) {
                _automationService.clearDataTable();
                clearInterval(_automationService.getLoadDataIntervalID());
            }
            clearAllIntervals();
            clearWindowEvents();
            $(".ui-tooltip").remove();
            $("#@DivId").empty();
            renderViewMode(firstLoad = false);
        });
        renderViewMode(firstLoad = true);

        function renderViewMode(firstLoad) {
            var storedViewMode = retrieveLocalObject(config.fullWebPath + _localViewModeKey);
            var availableViewModes = $("select#@ViewModeSelectId option").map(function () { return $(this).val() }).get();

            // Select the appropriate viewmode
            // If it's the first page load check the url parameter then the stored view and then the default view
            if (firstLoad) {
                var urlParameter = getUrlVars()["@ViewModeUriParameter"];
                if (urlParameter && (availableViewModes.indexOf(urlParameter) != -1)) {
                    _selectedViewMode = urlParameter;
                }
                else if (storedViewMode) {
                    _selectedViewMode = storedViewMode;
                }
                else {
                    _selectedViewMode = "@Model.SelectedView.ViewMode.ToString()"
                }
                // Set the option with that value selected
                $("select#@ViewModeSelectId option[value='" + _selectedViewMode + "']").prop("selected", true);
            }
            else {
                _selectedViewMode = $("select#@ViewModeSelectId").val();
            }

            // Construct the current page's full Uri
            var linkElement = $("#@CurrentPageLinkId");
            var newLink = linkElement.attr("href").split("?")[0] + "?" + $.param({ "@ViewModeUriParameter": _selectedViewMode });
            linkElement.attr("href", newLink);
            linkElement.attr("title", newLink);
            
            storeLocalObject(config.fullWebPath + _localViewModeKey, _selectedViewMode);

            //var webHost = "@Model.SelectedView.Service.WebHost";  
            var serverHost = "@Model.SelectedView.Service.ServerHost.Host";
            var serviceType = "@Model.SelectedView.Service.ServiceType";

            var ulogHost = "@Url.Action("Index", "Ulog")";
            var ulogGetHost = "@Url.Action("GetULog", "Ulog")";
            //var ulogErrorsRest = "@Url.Action("Errors", "Ulog")";

            var automationGroupedRest = "@Url.Action("AutomationMonitorGroupedJobs", new { id = @Model.SelectedView.WebAlias })";
            var automationGroupedStaticRest = "@Url.Action("AutomationMonitorGroupedJobsStatic", new { id = @Model.SelectedView.WebAlias })";
            var automationMonitorRest = "@Url.Action("AutomationMonitor", new { id = @Model.SelectedView.WebAlias })";
            var automationAdminRest = "@Url.Action("AutomationAdmin", new { id = @Model.SelectedView.WebAlias })";
            var automationJobFullInfoRest = "@Url.Action("AutomationJobFullInfo", new { id = @Model.SelectedView.WebAlias })"; 

            var imagesRootURI = "@Url.Content("~/Content/images/")";
            var jobId = "@Model.JobId";
            
            if (_selectedViewMode == "@ViewMode.JobList.ToString()") {
                var automationServiceObj = {
                    elementId: "@DivId",
                    serverHost: serverHost,
                    ulogHost: ulogHost,
                    ulogGetHost: ulogGetHost,
                    automationMonitorRest: automationMonitorRest,
                    automationAdminRest: automationAdminRest,
                    imagesRootURI: imagesRootURI,
                    jobId: jobId,
                    jobFilterKey: "@Model.SelectedView.FilterKey",
                    jobFilterValue: "@Model.SelectedView.FilterValue",
                };

                initAutomation(automationServiceObj);
            }
            else if (
                    (_selectedViewMode == "@ViewMode.JobMatrix.ToString()")
                    ||
                    (_selectedViewMode == "@ViewMode.JobMatrixLight.ToString()")
                ) {
                var tableId = "jobMatrix";

                $("#@DivId").append(
                    $("<div>").attr("id", tableId)
                );

                var automationServiceObj = {
                    tableId: tableId,
                    serverHost: serverHost,
                    //webHost: webHost,
                    ulogHost: ulogHost,
                    //ulogErrorsRest: ulogErrorsRest,
                    automationGroupedRest: automationGroupedRest,
                    automationJobFullInfoRest: automationJobFullInfoRest,
                    imagesRootURI: imagesRootURI,
                    serviceType: serviceType,
                    jobId: jobId,
                };

                delete _automationService;
                _automationService = new AutomationService(automationServiceObj);
                _automationService.initJobMatrix(_selectedViewMode);
            }
            else if (_selectedViewMode == "@ViewMode.JobMatrixStatic.ToString()") {
                var tableId = "jobMatrix";

                $("#@DivId").append(
                    $("<div>").attr("id", tableId)
                );

                var automationServiceObj = {
                    tableId: tableId,
                    serverHost: serverHost,
                    ulogHost: ulogHost,
                    automationGroupedRest: automationGroupedStaticRest,
                    automationJobFullInfoRest: automationJobFullInfoRest,
                    imagesRootURI: imagesRootURI,
                    serviceType: serviceType,
                    jobId: jobId,
                };

                delete _automationService;
                _automationService = new AutomationService(automationServiceObj);
                _automationService.initJobMatrix(_selectedViewMode);
            }
            else if (_selectedViewMode == "@ViewMode.JobMatrixSummary.ToString()") {
                var tableId = "jobMatrixSummary";

                $("#@DivId").append(
                    $("<div>").attr("id", tableId)
                );

                var automationServiceObj = {
                    tableId: tableId,
                    serverHost: serverHost,
                    //webHost: webHost,
                    ulogHost: ulogHost,
                    //ulogErrorsRest: ulogErrorsRest,
                    automationGroupedRest: automationGroupedRest,
                    serviceType: serviceType,
                };

                delete _automationService;
                _automationService = new AutomationService(automationServiceObj);
                _automationService.initJobMatrixSummary();
            }
        }

        function clearAllIntervals() {
            var id = setInterval(function foo() { }, 1000); // Set a foo function just to get the current id
            
            for (var i = 0; i<= id; i++) {
                clearInterval(i);
            }
        }

        function clearWindowEvents() {
            $(window).off("resize");
        }
    </script>
}


