﻿@using System.Configuration;
@using RSG.Model.Deployment.Tools;
@model RSG.ToolsPortal.ViewModels.DeploymentViewModel

@{
    ViewBag.Title = Model.SelectedProject.ShortName + Model.TitleSeparator + Model.Title;
    ViewBag.ContentTitle = Model.FullTitle;
    ViewBag.ContentDescription = Model.SelectedProject.Name + Model.TitleSeparator + "Tools Versions";

    String confirmClassname = "confirm-delete";
}
@Scripts.Render("~/bundles/Deployment")

@if (Model.AllToolsVersions != null)
{
    <table class="title-only">
        <tbody>
            <tr>
                <th class="title">
                    Tools Versions
                    @Html.ActionLink("+", "ToolsVersionCreate", new { }, new { @class = "button-link", @title = "Create New Tools Version"})
                </th>
            </tr>
        </tbody>
    </table>

    <table id="">
        <thead>
            <tr>
                <th>Version</th>
                <th>Game Version</th>
                <th>Bug</th>
                <th>Time</th>
                <th>Timestamp (UTC)</th>
                <th>Notes</th>

                <th colspan="3">Actions</th>
            </tr>
        </thead>
        <tbody>
        @{
            foreach (ToolsVersion ToolsVersion in Model.AllToolsVersions)
            {
                String VersionView = ToolsVersion.MajorVersion
                                + ConfigurationManager.AppSettings["DeploymentVersionViewSeparator"]
                                + ToolsVersion.MinorVersion;
                String VersionURI = ToolsVersion.MajorVersion
                                + ConfigurationManager.AppSettings["DeploymentVersionURISeparator"]
                                + ToolsVersion.MinorVersion;
                String GameVersion = ToolsVersion.GameMajorVersion
                                + ConfigurationManager.AppSettings["DeploymentVersionViewSeparator"]
                                + ToolsVersion.GameMinorVersion;
                String FormattedTimestamp = Helpers.FormatDateCustomISO(@ToolsVersion.Timestamp).ToString();
            
                <tr>
                    <td>@VersionView</td>
                    <td>@GameVersion</td>
                    <td>@ToolsVersion.Bug</td>
                    <td>@ToolsVersion.Time</td>
                    <td>@FormattedTimestamp</td>
                    <td>@ToolsVersion.Notes</td>

                    <td class="centre">
                        <a title="Details of @VersionView" href="@Url.Action("ToolsVersionDetails", new { id = @VersionURI })">Details</a>
                    </td>
                    <td class="centre">
                        <a title="Edit @VersionView" href="@Url.Action("ToolsVersionEdit", new { id = @VersionURI })">Edit</a>
                    </td>
                    <td class="centre">
                        @*
                        <a class="@confirmClassname" title="Delete @VersionView" href="@Url.Action("ToolsVersionDelete", new { id = @VersionURI })">Delete</a>
                        *@
                        Delete
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
}

<script type="text/javascript">
    var deployment = new Deployment();
    deployment.addConfirmDialog("@confirmClassname", "Are you sure you want to delete this version?");
</script>