﻿@using System.Configuration;
@using RSG.Model.Deployment.Tools
@model RSG.ToolsPortal.ViewModels.DeploymentViewModel

@{
     ViewBag.Title = Model.SelectedProject.ShortName + Model.TitleSeparator + Model.Title;
    ViewBag.ContentTitle = Model.FullTitle;
    ViewBag.ContentDescription = Model.SelectedProject.Name + Model.TitleSeparator
                                + "Tools Version" + Model.TitleSeparator + "Details";

    String VersionView = @Model.SelectedToolsVersion.MajorVersion
                            + ConfigurationManager.AppSettings["DeploymentVersionViewSeparator"]
                            + @Model.SelectedToolsVersion.MinorVersion;
    String VersionURI = @Model.SelectedToolsVersion.MajorVersion
                    + ConfigurationManager.AppSettings["DeploymentVersionURISeparator"]
                    + @Model.SelectedToolsVersion.MinorVersion;

    String confirmClassname = "confirm-delete";
}
@Scripts.Render("~/bundles/Deployment")

<table>
    <tr>
        <th class="title" colspan="2">
            Details of Version @VersionView
        </th>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedToolsVersion.MajorVersion)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedToolsVersion.MajorVersion)
        </td>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedToolsVersion.MinorVersion)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedToolsVersion.MinorVersion)
        </td>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedToolsVersion.GameMajorVersion)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedToolsVersion.GameMajorVersion)
        </td>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedToolsVersion.GameMinorVersion)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedToolsVersion.GameMinorVersion)
        </td>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedToolsVersion.Bug)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedToolsVersion.Bug)
        </td>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedToolsVersion.Time)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedToolsVersion.Time)
        </td>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedToolsVersion.Timestamp)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedToolsVersion.Timestamp)
        </td>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedToolsVersion.Notes)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedToolsVersion.Notes)
        </td>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedToolsVersion.Revision)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedToolsVersion.Revision)
        </td>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedToolsVersion.Tests)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedToolsVersion.Tests)
        </td>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedToolsVersion.AssetsUsed)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedToolsVersion.AssetsUsed)
        </td>
    </tr>

    <tr>
        <td class="label">
            @Html.DisplayNameFor(model => @Model.SelectedToolsVersion.KnownIssues)
        </td>
        <td>
            @Html.DisplayFor(model => @Model.SelectedToolsVersion.KnownIssues)
        </td>
    </tr>

</table>

<div class="centre">
    <form method="GET" action="@Url.Action("ToolsVersionEdit", new { id = VersionURI })">
        <input type="submit" title="Edit @VersionView" value="Edit" class="button-link" />
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        @*
        @Html.ActionLink("Delete", "ToolsVersionDelete",  
                            new { id = @Version }, 
                            new { @class = "button-link " + @confirmClassname,  @title = "Delete " + @Version }
                        )
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        *@
        @Html.ActionLink("View List", "ToolsVersions", new {  }, new { @class = "button-link", @title =  "View All Tools Versions"})
    </form>
</div>

<script type="text/javascript">
    var deployment = new Deployment();
    deployment.addConfirmDialog("@confirmClassname", "Are you sure you want to delete this version?");
</script>