#content {
	overflow-y: hidden;
}

#available-charts {
	width: 50%;
	position: relative;
	float: left;
}

#available-charts-options {
	width: 70%;
}

#chart-description {
	width: 48%;
	position: relative;
	float: right;
	text-align: center;
	font-style: italic;
	font-weight: bold;

	border: 1px solid #cccccc;
    border-radius: 4px 4px 4px 4px;
    color: #222222;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    padding: 4px;
}

#piechart {
	width: 50%;
	/*height: 70em;*/
	height: 100%;
	float: left;
	position: relative;
}

#barchart {
	width: 50%;
	/*height: 70em;*/
	height: 100%;
	float: right;
	position: relative;
}

#breakdown {
	width: 50%;
	/*height: 70em;*/
	height: 100%;
	float: left;
	position: relative;
}

#single-barchart {
	/*height: 70em;*/
	height: 90%;
	position: relative;
}

#timechart {
	/*height: 70em;*/
	height: 90%;
	position: relative;
}


#clickable-piechart {
	width: 50%;
	height: 100%;
	position: relative;
	float: left;
}

#clickable-piechart svg {
	height: 90%;
}

#clickable-piechart .nv-slice:hover {
	cursor: pointer;
}

#detailed-piechart {
	width: 50%;
	height: 90%;
	position: relative;
	float: left;
	display: none;
}

.detailed-piechart {
	width: 100%;
}

#detailed-map,
#breakdown-map {
	right: 0;
	width: 33%;
 	position: relative;
 	height: 98%;
 	border: 1px solid rgba(0, 0, 0, 0.3);
 	border-radius: 2px;
 	float: right;
}
#detailed-map svg,
#breakdown-map svg {
	overflow: hidden;
}

.map-grid {
	stroke: rgba(0, 0, 0, 0.3);
	stroke-width: 0.2; 
}

/* Pie and Bar Chart legends */
.chart-field {
	border: 0;
	border-radius: 0;
	margin: 0;
	padding: 0;
}

.chart-field legend {
	padding: 0.5em;
	
	background-color: rgba(85, 134, 33, 0.8);
	color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(255, 255, 255, 0.5);
		
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5em;
    
	text-transform: none;
}
