/* @import url("fonts.css"); */
/* @import url("../antiscroll/antiscroll.css"); */

body {
	background: #fff;
	/* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
	/* Social club css */
	
	font-family: "Chalet-LondonSixty";
	font-size: 13px;
	line-height: 18px;
	/*
    font-size: 14px;
    line-height: 18px;
    */
}

fieldset {
	border: #ccc 1px solid;
	border-radius: 5px;
	margin-bottom: 5px;
}

fieldset legend {
	text-transform: uppercase;
}

#frontpage-title {
	position: absolute;
	left: 15%;
	top: 200px;
	font-size: 30px;
    line-height: 40px;
    padding: 10px;
    
    background-color: rgba(85, 134, 33, 0.8);
	color: rgba(255, 255, 255, 1);
    
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
	
	text-align: center;
}

#frontpage-title-alt {
	position: absolute;
	left: 3%;
	top: 3%;
	width: 50%;
	font-size: 30px;
    line-height: 40px;
    padding: 10px;
    
	background-color: rgba(85, 134, 33, 0.8);
	color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(255, 255, 255, 0.5);
		
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
	
	text-align: center;
}

#frontpage-logo {
	position: absolute;
	right: 0;
	top: 3%;
}

#presets {
	position: relative;
	/*		
    width: calc(100% - 80px);
    height: calc(100% - 120px);
    top: 90px;
    right: 40px;
    left: 40px;
    */
   	
   	height: calc(100% - 40px);
    margin: 20px;
       
	border: 1px solid #666;
	border-radius: 2px;
	
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
 	background-color: #393939;
 	color: #fff;
 	
    text-align: center;
}

#presets-title {
	position: relative;
	height: 30px;
    color: #E6E6E6;
    
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.3em;
}
#presets-title .left {
	text-align: left;
	float: left;
	width: 30%;
}
#presets-title .right {
	text-align: right;
	float: right;
	width: 70%;
}

#presets-list {
	position: relative;
	width: 99.5%;
	height: calc(100% - 40px);
	overflow-y: scroll;
	overflow-x: hidden;
}

#presets-list table {
	border-top: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
}
#presets-list table td {
	border-left: none;
	border-top: none;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	text-align: left;
}
#presets-list table tr:hover td {
	color: #222;
	background-color: rgba(255, 255, 255, 0.9);
	border-right: 1px solid rgba(0, 0, 0, 0.3);
}

#header {
	position: fixed;
	/* top: -14%; header hidden by default - deprecated by varia header heights*/
	/* height: 14%; deprecated by varia header heights */
	
	font-family: "Chalet-LondonSixty";
    font-size: 13px;
    line-height: 18px;
	
	left: 240px;
	width: calc(100% - 240px);
	min-width: 1050px; /* 1280 - 230 */
	
	z-index: 1000;

	border-bottom: 1px solid #e9e9e9;
	background-color: #fff;
	color: #828890;
}

#header label {
	text-transform: uppercase;
}

#big-header {
	/*
	border-bottom: 1px solid rgba(85, 134, 33, 0.5);
	height: 100px;
	*/
}

#big-header fieldset {
	position: relative;
	height: 100px;
	float: left;
	margin: 0 0.1em;
	border-radius: 0;
	border-color: rgba(204, 204, 204, 0.4);
}

#big-header fieldset select {
	width: 100%;
	height: 85px;
}

#big-header fieldset select.single {
	position: absolute;
	left: 5%;
	width: 90%;
	float: none;
	vertical-align: middle;
	top: 40px;
	height: 30px;
}

#big-header fieldset input {
	width: 40%;
	float: right;
}

#big-header fieldset label {
	width: 50%;
	text-align: left;
	text-transform: uppercase;
}

#big-header fieldset legend label {
	width: 1em;
}
#big-header fieldset legend input {
	width: 1em;
}

#big-header fieldset legend select {
	width: 100%;
	height: 30px;
}

#big-header fieldset.subfield-left {
	position: absolute;
	width: 65%;
	border: 0;
	left: 0;
}
#big-header fieldset.subfield-left input {
	width: 70%	
}
#big-header fieldset.subfield-right {
	position: absolute;
	width: 25%;
	border: 0;
	right: 0;
}
#big-header fieldset.subfield {
	border: 0;
}
#big-header fieldset.socialclub {
	width: 8.5%;
	height: 160px;
}
#big-header fieldset.socialclub-tab {
	width: 255px;
	height: 160px;
}
#big-header fieldset.socialclub-dg {
	width: 6%;
	height: 160px;
}
#big-header fieldset.socialclub-tab-dg {
	width: 255px;
	height: 160px;
}
#big-header fieldset.socialclub-freemode {
	width: 18.5%;
	height: 95px;
}
#big-header fieldset.socialclub-freemode-tab {
	width: 25%;
	height: 95px;
}
#big-header fieldset.freemode {
	width: 16%;
	height: 160px;
}
#big-header fieldset.socialclub-map {
	width: 44.5%;
	height: 40px;
}
#big-header fieldset.socialclub-single {
	width: 20%;
	height: 35px;
}
#big-header fieldset.socialclub select, 
#big-header fieldset.socialclub-tab select,
#big-header fieldset.socialclub-dg select,
#big-header fieldset.freemode select {
	width: 100%;
	height: 150px;
}
#big-header fieldset.socialclub select.single,
#big-header fieldset.socialclub-dg select.single,
#big-header fieldset.freemode select.single {
	height: 30px;
    width: 90%;
}
#big-header fieldset.socialclub input.single {
	width: 75%;
}
#big-header fieldset.socialclub-freemode select {
	width: 100%;
	height: 80px;
}
#big-header fieldset.socialclub-freemode select.single {
	height: 30px;
    width: 90%;
}
#big-header fieldset.socialclub-single select.single {
	width: 90%;
	top: 30% !important;
}
#big-header fieldset.socialclub-single input.single {
	top: 30% !important;
}
#big-header fieldset .subfield-right select {
	height: 115px;
}
#big-header fieldset.socialclub legend, #big-header fieldset.socialclub-tab legend {
	float: none;
}
#big-header fieldset.socialclub legend select, #big-header fieldset.socialclub-tab legend select {
/* cause '#big-header fieldset legend select' fails */
	width: 100%;
	height: 30px;
}

#big-header fieldset.difficulty-tracking {
	width: 27%;	
	margin: 0 1.0em;
}
#big-header fieldset.map-exports {
	width: 27%;	
	margin: 0 1.0em;
}
#big-header fieldset.asset-stats {
	width: 27%;	
	margin: 0 1.0em;
}
#big-header fieldset.resource-stats {
	width: 16%;	
	margin: 0 0.5em;
}
#big-header fieldset.resource-stats input.single-input,
#big-header fieldset.capture-stats input.single-input {
	width: 85%;
}
#big-header fieldset.capture-stats {
	width: 15%;	
	margin: 0 0.5em;
}
#big-header fieldset.cutscene-lights {
	width: 27%;
	height: 7.5em;	
	margin: 0 0.5em;
}
#big-header fieldset.cash-report {
	width: 41%;
	height: 150px;
	margin: 0 0.5em;
}
#big-header fieldset.cash-report select{
	height: 140px;
}
#big-header fieldset.cash-betting {
	width: 14%;
	margin: 0 0.2em;
}
#big-header fieldset.cash-betting-tab {
	width: 20%;
	margin: 0 0.2em;
}

#big-header fieldset input.single-input,
#big-header fieldset input.single {
	position: absolute;
	width: 90%;
	float: left;
	top: 40%;
}

#big-header fieldset input[type="checkbox"] {
	position: relative;
	width: 15px;
	float: left;
	top: 40%;
}

#big-header fieldset input.no-label {
	position: absolute;
	left: 0.2%;
	right: 0.2%;
	width: 90%;
	float: none;
	vertical-align: middle;
	top: 40%;
}

#big-header fieldset select {
     width: 100%;
}

#big-header #filter {
	position: absolute;
	top: 35%;
	margin-left: 0.5em;
}

.red-button {
	text-transform: uppercase;
	background-color: rgba(255, 51, 0, 0.9); /* #ff3300 */
	color: #ffffff;
	border: 0;
	border-radius: 2px;
	padding: 3px 12px;
	margin: 0;
	margin-left: 5px;
	
    font-family: "Chalet-LondonSixty";
    font-size: 12px;
    line-height: 18px;
}
.red-button:hover {
    background-color: rgba(255, 51, 0, 1);
}

.csv-frame {
	width: 125px;
	height: 25px;
	border: 0;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	padding-right: 3px;
	overflow: hidden;
}

.csv-right {
	float: right;
}
/*
#big-header .description {
	position: relative;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    color: #222222;
    display: inline-block;
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    line-height: 18px;
    padding: 4px;
    position: relative;
    text-align: center;
    width: 98%;
    height: 1em;
    margin: 0.1em ;
}
*/

#big-header #first-row {
	height: 155px;
}

/* This is for the whole fieldset */
#small-header {
	position: relative;
	/*
	border-radius: 0.8em;
	border: solid 0.1em #ccc;
	box-shadow: 0.1em 0.1em #ccc;
	*/
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	height: 25px;
}

#small-header .one-fourth-element {
    float: left;
    position: relative;
    width: 25%;
}

#small-header label {
	margin-left: 0.5em;
    text-transform: uppercase;
}

#small-header select {
	height: 100%;
}

/*
#small-header .left-element {
    float: left;
    position: relative;
    width: 49%;
    padding-top: 5px;
}

#small-header .right-element {
    float: right;
    position: relative;
    width: 49%;
    padding-top: 5px;
}
*/

#small-header .one-second-element {
    float: left;
    position: relative;
    width: 40%;
}

#small-header .one-third-element {
    float: left;
    position: relative;
    width: 30%;
}

/*
#small-header .one-fourth-element {
    float: left;
    position: relative;
    width: 25%;
}

#small-header label {
	margin-left: 0.5em;
    text-transform: uppercase;
}
*/

#small-header .radios,
#small-header .left-element select,
#small-header .right-element select {
    width: 70%;
}

#small-header .one-third-element select,
#small-header .one-fourth-element select {
	width: 50%;
}
#small-header .one-second-element select {
	width: 70%;
}

#small-header #filter {
	position: relative;
}

/*
#header fieldset#user-field input,
#header fieldset#dt-user-field input,
#header fieldset#section-field input,
#header fieldset#filter-field input {
	position: absolute;
	width: 90%;
	float: none;
	vertical-align: middle;
	top: 40%;
}
*/


#sub-header {
	position: relative;
	/*
	border-radius: 0.8em;
	border: solid 0.1em #ccc;
	box-shadow: 0.1em 0.1em #ccc;
	*/
	border: solid 1px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding: 4px;
	margin-bottom: 0.5em;
	min-height: 30px;
	height: auto;
}

#description {
	position: relative;
	font-style: italic;
    font-weight: bold;
    padding: 4px;
    padding-left: 10px;
    /*
    background-color: rgba(255, 255, 255, 1);
    */
    min-height: 23px;
    height: auto;
   	background-color: rgba(0, 0, 0, 0.07);
   	border-radius: 5px;
   	
   	margin-bottom: 5px;
}

/*
.message {
	position: relative;
	font-style: italic;
    font-weight: bold;
    padding: 4px;
    padding-left: 10px;
    min-height: 23px;
    height: auto;
   	background-color: rgba(0, 0, 0, 0.07);
   	border-radius: 5px;
   	
   	margin-bottom: 5px;
}
.message a {
	color: #000;
	font-style: normal; 
}
.message a:hover {
	text-decoration: none; 
}
*/

#friendlier-names-field {
	padding: 5px;
}

.left-element {
    float: left;
    position: relative;
    width: 48%;
    padding-top: 3px;
}

.left-element label {
	margin-left: 15px;
}

.right-element {
    float: right;
    position: relative;
    width: 48%;
    padding-top: 3px;
}

.one-third-element {
    float: left;
    position: relative;
    width: 30%;
}

.two-third-element-left {
    float: left;
    position: relative;
    width: 65%;
    margin-right: 20px;
}

.two-third-element {
    float: right;
    position: relative;
    width: 65%;
}

.one-fourth-element {
    float: left;
    position: relative;
    width: 25%;
}

.one-fifth-element {
    float: left;
    position: relative;
    width: 20%;
}

.four-fifth-element {
    float: right;
    position: relative;
    width: 79%;
}

.one-sixth-element {
    float: left;
    position: relative;
    width: 16%;
}

#sub-header label {
	margin-left: 0.5em;
    text-transform: uppercase;
}

#sub-header select {
	width: 70%;
}

.radios,
.left-element select,
.right-element select,
.left-element input,
.right-element input {
    width: 70%;
}
.left-element input[type=number],
.right-element input[type=number] {
    width: 10%;
}
.left-element input[type=radio],
.right-element input[type=radio] {
    width: 15px;
}
.left-element input[type=checkbox],
.right-element input[type=checkbox] {
    width: 15px;
}

.one-third-element select,
.one-fourth-element select {
	width: 50%;
}

/* Check token-input-facebbok-local.css
li.token-input-selected-token-facebook {
    background-color: #558621;
}
div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: #558621;
    color: #fff;
}
*/

/*
#chart-filter {
	width: 50%;
	position: relative;
	float: left;
}

#chart-filter-input {
	border-radius: 0.5em;
	width: 70%;
	padding: 0.2em;
}
*/

/* Social Club css*/
select {
	border: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    color: #222;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    padding: 4px;
}

input {
	font-size: 13px;
    line-height: 18px;
    padding: 4px;
}

input[type=text] {
	outline: none;
	transition: all 0.25s ease-in-out;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin: 2px;
}

/*
input[type=text]:focus {
    box-shadow: 0 0 5px #fcb131;
    border: 1px solid #fcb131; 
}
*/

input.datetime {
	width: 100px !important;
}

#navigation {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	
	width: 240px;
	height: 100%;
	
	/*
	box-shadow: 0.1em 0 0.1em 0 #558621;
	border-radius: 0 0 0 0;
	*/
	/*
	box-shadow: 1px 0 1px 0 #558621;
	*/
	
	z-index: 500;

	/*background-color: rgba(255, 255, 255, 0.8);*/
	background-color: #393939;
	color: #fff;
	
	/*
	overflow-x: hidden;
	overflow-y: auto;
	*/
}

#navigation #nav-logo {
	position: relative;
	height: 175px;
	z-index: 10001; /*just over the header*/
	
	border-bottom: 1px #fff solid;
	text-align: center;
}

#navigation #nav-ul-wrap, #navigation #nav-ul-wrap .antiscroll-inner {
    width: 240px;
    height: auto;
}

#navigation #nav-ul-wrap {
    margin-bottom: 10px;
}

#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	
	font-family: "Chalet-LondonSixty";
	font-size: 13px;
	line-height: 18px;
	
	/*width: 230px;*/
}

#navigation ul li {
	margin: 0;
	padding: 0;
}

/* Social Club CSS*/
#navigation ul li a {
   	color: #fff;
    display: block;
    
    padding: 8px 20px;
    
    text-decoration: none;
    text-transform: uppercase;
    
    position: relative;
    
    border-bottom: 1px #fff solid;
}

#navigation ul li a:after { 
	content: " ";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-color: transparent transparent transparent #ffffff;
	position: absolute;
	right: 12px;
	margin-top: 4px;
}

#navigation ul li.expanded > a:after {
	content: " ";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #ffffff transparent transparent transparent;
	position: absolute;
	right: 10px;
	margin-top: 4px;
}

#navigation ul li a.noChildren:after {
	border: 0;
}

#navigation ul li a:hover, #navigation ul li a.active {
	/*
	background-color: #558621;
    color: #ffffff;
    */
   padding-left: 17px;
   border-left: 3px solid #e93408;
}

#navigation ul li a.active:hover {
	/*
	background-color: #558621;
    color: #fcb131;
    */
}

#navigation ul ul li a {
	/*
	background-color: rgba(210, 210, 210, 0.5);
	*/
	background-color: #505050;
	
    display: block;    
    padding-left: 40px;

	padding-left: 37px;
    border-left: 3px solid #ff3300;
}
	
#navigation ul ul li a:hover, 
#navigation ul ul li a.active {
	/*
	background-color: rgba(85, 134, 33, 0.8);
    color: #ffffff;
    */
   	background-color: #6f6f6f;
   	padding-left: 37px;
    border-left: 3px solid #c66147;
}

#navigation ul ul li a.active:hover {
	/*
	background-color: rgba(85, 134, 33, 0.8);
    color: #fcb131;
    */
}

#navigation ul ul li a:after {
	content: " ";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	position: absolute;
	left: 20px;
	margin-top: 4px;
	
	border-color: transparent transparent transparent #ffffff;
}

#navigation ul ul li.expanded > a:after { 
	content: " ";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	position: absolute;
	left: 20px;
	margin-top: 4px;
	
	border-color: #ffffff transparent transparent transparent;
}

#navigation ul ul li a:hover:after,
#navigation ul ul li a.active:after {
	content: " ";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	position: absolute;
	left: 20px;
	margin-top: 4px;
	
	border-color: transparent transparent transparent #ff3300;
}

#navigation ul ul li.expanded > a:hover:after,
#navigation ul ul li.expanded > a.active:after {
	content: " ";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	position: absolute;
	left: 20px;
	margin-top: 4px;
	
	border-color:  #ff3300 transparent transparent transparent;
}

#navigation ul ul ul li a {
	/*
	background-color: rgba(210, 210, 210, 1);
	*/
	background-color: #aaa;
    display: block;
    
    padding-left: 45px;
}
#navigation ul ul ul li a:hover, #navigation ul ul ul li a.active {
	/*
	background-color: rgba(85, 134, 33, 0.6);
	*/
	
	background-color: #999;
    padding-left: 45px;
}
#navigation ul ul ul li a.active:hover {
	/*
	background-color: rgba(85, 134, 33, 0.6);
	*/
}

#navigation ul ul ul li a:after { 
	border: 0;
}

#navigation ul ul ul li a:hover:after,
#navigation ul ul ul li a.active:after {
	border: 0;
}

ul.tab-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

ul.tab-nav li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline;
	
	color: #828890;
	background-color: #ffffff;
	
	border: 1px solid #d4d8de;
	border-radius: 5px 5px 0 0;
	
    font-size: 12px;
    line-height: 40px;
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
    
    text-decoration: none;
    text-transform: uppercase;
}

ul.tab-nav li:hover, ul.tab-nav li.active {
	background-color: #f4f6f9;
}

ul.tab-nav li.active:hover {
    /*color: #fcb131;*/
}

ul.tab-nav li a {
	color: #828890;
	background-color: #ffffff;
	text-decoration: none;
}

ul.tab-nav li a:hover, ul.tab-nav li a:active {
	color: #828890;
	background-color: #f4f6f9;
}
ul.tab-nav li a.active:hover {
    /*color: #fcb131;*/
}

/* legend tabs */

ul.tab-legend {
	margin: 0;
	padding: 0;
	text-align: left;
}

ul.tab-legend li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
}
	
ul.tab-legend li a {
	color: #828890;
	background-color: #ffffff;
    
    padding: 0 5px;
    margin: 0px;
    
    text-decoration: none;
    
	border: 1px solid #d4d8de;
	border-radius: 5px 5px 0 0;
	
	/*
	width: 20px;
	text-overflow: ellipsis;
	*/
}

ul.tab-legend li a:hover, ul.tab-legend li a.active {
    /*
    color: #fff;
    background-color: rgba(85, 134, 33, 0.8);
    */
    background-color: #f4f6f9;
}

ul.tab-legend li a.active:hover {
    /*color: #fcb131;*/
}

/* End of Social Club CSS */
#content {
	position: absolute;
	
	left: 240px;
	width: calc(100% - 282px); /* nav - padding - border */
	min-width: 37.5em; /* 1280 - 230 = 900px = 37.5 em*/

    height: calc(100% - 60px); /* 100% - 3*margin (top/bottom) */
    	
	background-color: #fafbfd;
	
	font-family: "Chalet-LondonSixty";
	font-size: 13px;
	line-height: 18px;
	
    
	border: 1px #e9e9e9 solid;
    border-top: 1px #e9e9e9 solid;
	
	margin: 20px;
	padding: 0;
	
	overflow: hidden;
}

#content #content-title {
    position: relative;
	height: 20px;
	padding : 10px;
	
	background-color: #f4f6f9;
	color: #333333;
	
	font-size: 22px;
	
	border-top: 5px #ff3300 solid;
	
	border-bottom: 1px solid #ededed;
}

#content #content-title .last {
	color: #999999;
}

#content #content-title #username {
    background-color: #ff3300;
    font-size: 14px;
    color: #ffffff;
    padding: 5px;

    position: absolute;
    top: 0;
    right: 0;
}
#content #content-title #username a {
    color: #ffffff;
    text-decoration: none;
}
#content #content-title #username a:hover {
    text-decoration: underline;
}

#content #friendlier-names-field {
	position: absolute;
	padding : 17px;
	right: 0;
	top: 0;
	text-transform: uppercase;
	
	font-family: "Chalet-NewYorkSixty";
	font-size: 15px;
	line-height: 20px;
	color: #666666;
}

#content #friendlier-names-field input {
	font-family: "Chalet-NewYorkSixty";
	font-size: 15px;
	line-height: 20px;
	
	padding: 0px;
	margin-right: 10px;
}

#content #content-description {
	min-height: 20px;
	padding: 10px;
	
	background-color: #f9f9fc;
	color: #666666;
	
	border-bottom: 1px solid #f1f2f3;
}

#content #content-description a {
	color: #666666;
	text-decoration: underline;
}
#content #content-description a:hover {
	text-decoration: none; 
}

#content #content-description input[type=text] {
	width: 300px;
}

#content #content-description .description {
	position: relative;
	width: 100%;
	
	border-bottom: 1px;
}

#content #content-description #content-description-controls {
	position: relative;
	width: 100%;
	
	min-height: 20px;
}

#content #content-body {
	font-family: "Chalet-LondonSixty";
	font-size: 13px;
	line-height: 18px;
	
    height: calc(100% - 85px); /* 40 + 40 + 5 */
	
	position: relative;
	overflow: auto;
}

#content #content-body a {
	color: #222222;
	text-decoration: underline;
}
#content #content-body a:hover {
	text-decoration: none;
}

/* validation div */
#validation {
}
#validation .validation-summary-errors {
    padding: 2px;
    /*background-color: #ff3300;*/
    background-color: rgba(255, 51, 0, 0.6);
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;
}
#validation .validation-summary-errors ul {
    list-style-type: square;
}

/* Login div */
#login-div {
    margin: auto;
    width: 400px;
    
    margin-top: 120px;

    border: 2px solid #E6E6E6;
    border-top: 5px #ff3300 solid;
}

#login-div table,
#login-div table th,
#login-div table td {
    border: none;
    text-align: center;
}

#login-div table tr {
    border-top: 1px solid #ededed;
}

/* Project selection style */
#projects-net {
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 900px; /* 4*(210+5m) image pixels + 4*1 border px so it fits 4 items per row max */
}

.project-cell {
    border: 1px solid #ededed;
    float: left;
    width: 210px; /* same as the logo width */
    margin: 5px;
}
.project-cell:hover {
    border: 1px solid #ff3300;
}
.project-cell:active {
    border: 1px solid #ff3300;
}

.project-cell img {
    border: 0;
}
.project-cell a {
    color: #666666;
    text-decoration: underline;
}
.project-cell a:hover,
.project-cell a:active {
    text-decoration: none;
    border: 0;
}

/* Footer */
#footer {
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.8;
	/*
	background: #558621;
	*/
	background-color: #999999;
	color: #fff;
	
	border-top: solid 4px solid #333;
	
	font-weight: bold;
	
	font-size: 20px;
    line-height: 20px;
    
    z-index: 1100;
}

#footer-links {
	padding: 1em;
}

#footer a {
	color: #fff;
	text-decoration: none;
}
#footer a:hover {
	color: #fff;
	text-decoration: underline;
}
/* Footer End */

#tableauViz {
	width: 100%;
	height: 97%;
	padding: 0px;
	overflow: auto;
	position: relative;
}

/* Map Specific */

#map-wrapper {
	height: 95%;
	position: relative;
}

#map {
	width: 70%;
	height: 100%;
	overflow: hidden;
    float: left;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.3);
 	border-radius: 2px;
}
#map svg {
	overflow: hidden;
}

#map-side-options {
	position: relative;
	width: 25%;
	float: right;
}

#telemetry rect {
	stroke: #222;
  	stroke-width: 1;
  	opacity: 0.8;
}

#telemetry rect.clicked {
	stroke: #222;
 	stroke-width: 1;
 	opacity: 1;
}

.map-grid {
	stroke: rgba(0, 0, 0, 0.3);
	stroke-width: 1; 
}

#header-toggle {
	position: absolute;
	right: 20px;
	bottom: -22px;
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.85);
	border: 1px solid rgba(85, 134, 33, 0.8);
	border-top: none;
}

#header-toggle a {
	display: block;
	width: 100px;
	height: 20px;
	color: transparent;
}

#nav-toggle {
	position: absolute;
	top: 1.5%;
	right: -10px;
	z-index: 10002; /* just over the nav-toggle */
	background-color: rgba(255, 255, 255, 0.85);

    display: block;
	width: 16px;
	height: 64px;
	color: transparent;

    /*border: 1px solid #ff3300;*/
    border: 1px solid #fff;
}

.nav-toggle-hide {
	background: url(../images/nav-toggle-hide.png);
}
.nav-toggle-show {
	background: url(../images/nav-toggle-show.png);
}

/*
.toggle-arrow-up {
	background: url(../../images/toggle-arrow-up.png);
}
.toggle-arrow-down {
	background: url(../../images/toggle-arrow-down.png);
}
.toggle-arrow-left {
	background: url(../../images/toggle-arrow-left.png);
}
.toggle-arrow-right {
	background: url(../../images/toggle-arrow-right.png);
}
*/

/*
.toggle-arrow-up {
	background: url(../../images/toggle-options-up.png);
}
.toggle-arrow-down {
	background: url(../../images/toggle-options-down.png);
}
.toggle-arrow-left {
	background: url(../../images/toggle-arrow-left.png);
}
.toggle-arrow-right {
	background: url(../../images/toggle-arrow-right.png);
}
*/

#loading {
	display: none;
	position: fixed;
	opacity: 0.7;
	padding: 0.5em;
	background-color: #222222;
	color: #fcb131;
	/*border-radius: 0.5em;*/
	border-radius: 5px;
	top: 1.5em;
	right: 1.5em;
	width: 15em;
	height: 2.5em;
	z-index: 1500;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
 
 /*
#warning {
	display: none;
	position: fixed;
	opacity: 0.8;
	padding: 1.5em;
	background-color: #222222;
	color: #fcb131;
	border-radius: 0 0.5em 0.5em 0;  
	bottom: 1.5em;
	left: 0em;
	width: 30em;
	height: 2.5em;
	z-index: 2000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: large;
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}
*/ 

#error {
    position: absolute;
    border: 1px solid #FF3300;
    border-radius: 5px;

    top: 20%;
	left: 20%;
	width: 60%;
	height: auto;

    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
} 
 
#progress-bar {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}
 
#progress-info {
	margin-top: 0.1em;
	font-size: medium;
}

/*
#loading .cancel {
	position: absolute;
	top: 5px;
	right: 5px;
}
*/

#loading .cancel {
    background-image: url(/images/overlay-close.png);
    position: absolute;
    right: -13px;
    top: -13px;
    cursor: pointer;
    height: 28px;
    width: 28px;
    z-index: 14000;
}

table {
	width: 100%;
	margin-bottom: 0.5em;
	
	border-collapse: collapse;
	/*border-spacing: 0;*/
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	border-left: 1px solid rgba(0, 0, 0, 0.25);
}

table.title-only {
	width: 100%;
	margin-bottom: 0;
}
table.title-only th {
	margin: 0;
	border-bottom: 0;
}

table th {
	font-weight: normal;
	padding: 5px;
	height: 25px;
	color: #222;
	background-color: #e6e6e6;
	text-transform: uppercase;
	border-left: none;
	border-top: none;
	border-right: 1px solid rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

table th.title {
	color: #fff;
	background-color: rgba(130, 136, 144, 1); /* #828890; */
	text-align: left;
}

table th.title a {
	color: #fff;
	text-decoration: underline;
}
table th.title a:hover{
	color: #fff;
	text-decoration: none;
}

table th.title span.title-csv {
	margin: 0;
	padding: 0;
	height: 25px;
	float: right;
}

table th.title2,
table th.subtitle {
	color: #fff;
	/*
	background-color: rgba(85, 134, 33, 0.8);
	*/
	background-color: rgba(130, 136, 144, 0.8); /* #828890; */
	text-align: left;
}

table th.title3 {
	color: #fff;
	/*
	background-color: rgba(85, 134, 33, 0.6);
	*/
	background-color: rgba(130, 136, 144, 0.6); /* #828890; */
	text-align: left;
}

table th.invisible,  table td.invisible{
	color: transparent;
	background-color: transparent;
	border: 0;
}

table td {
	border-left: none;
	border-top: none;
	border-bottom: solid 1px rgba(0, 0, 0, 0.25);
	border-right: solid 1px rgba(0, 0, 0, 0.25);
	padding: 5px;
	height: 25px;
}

table td.label {
	font-style: italic;
	width: 30%;
	background-color: #e6e6e6;
}

table td.delete,
table th.delete {
	width: 5%;
}
table td.delete {
	background-image: url(/images/remove.png);
	background-repeat: no-repeat;
	background-position: center center; 
}
table td.delete:hover {
	background-image: url(/images/remove-hover.png);
}

table td.caching {
	color: #222;
	background-color: rgba(252, 177, 49, 0.7);
}

table td a {
	color: #000;
	text-decoration: underline;
}
table td a:hover{
	color: #000;
	text-decoration: none;
}

table.with-border {
	border: #558621 1px solid;
}

table.cash-report {
	border-left: 0;
    border-top: 0;
    text-align: center;
    white-space: nowrap;
}

table.cash-report div.unlocks {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 15px;
}

table.top-users tr:hover,
table.top-users tr:active {
	background-color: #EDEDED;
}

/* Changed  for Portal*/
table.tablesorter thead tr .tablesorter-header {
	background-image: url(../images/sort-bg.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-right: 21px;
}
table.tablesorter thead tr .tablesorter-headerAsc {
	background-image: url(../images/sort-asc.png);
}
table.tablesorter thead tr .tablesorter-headerDesc {
	background-image: url(../images/sort-desc.png);
}
table.tablesorter thead tr .tablesorter-headerAsc,
table.tablesorter thead tr .tablesorter-headerDesc {
	background-color: rgba(130, 136, 144, 0.5)
}
.tablesorter-scroller {
	border-bottom: solid 1px rgba(0, 0, 0, 0.25);
	margin-bottom: 10px;
}

table.tablesorter thead tr th.sorter-false {
	background-image: none;
	cursor: default;
    padding-right: 5px;
}
/* End - Changed for Portal*/

fieldset .collapsed {
	display: none;	
}

fieldset .report-graph {
	position: relative;
	border-radius: 0;
	height: auto;
	width: 98%;
}
fieldset .report-graph legend {
	font-weight: bold;
	position: relative;
}

.barchart {
	min-height: 150px;
	border-top: 1px solid rgba(130, 136, 144, 1); /* #828890; */
	margin-bottom: 25px;
}

.barchart-title {
	color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: rgba(130, 136, 144, 1); /* #828890; */
	text-align: left;
	padding: 5px;
	width: 300px;
}

.barchart-breakdown {
	height: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

.hand {
	cursor: pointer;
}

.add {
	background-image: url(/images/add.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 18px; /* a bit more than the bg image */ 
	padding-top: 0px;
	padding-bottom: 2px;
}

.single-graph {
    height: 94.5%;
    position: relative;
}

.line-graph,
.line-graph svg {
    height: 100%;
    width: 100%;
    position: relative;
}

.green {
	color: green;
}
.red {
	color: red !important;
}

.white-border-right {
	border-right: solid 2px #fff;
}
.black-border-right {
	border-right: solid 2px #000;
}
.black-border-left {
	border-left: solid 2px #000;
}
.black-border-top {
	border-top: solid 2px #000;
}

.no-bottom-border {
	border-bottom: 0;
}

.no-white-space {
	white-space: pre;
}
.nowrap-white-space {
	white-space: nowrap;
}

.td-row-label {
	text-align: left;
	background-color: #eee;
	white-space: nowrap;
}
.td-sum {
	text-transform: uppercase;
	font-weight: bold;
	text-align: right;
}

.td-sum-left {
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
}
.td-left {
	text-align: left;
}
.td-right {
	text-align: right;
}

.fixed {
	position: fixed;
}

.hidden {
	display: none;
}

.disabled {
	background-color: #ddd;
}

.clear {
	clear: both;
}	

.float-left {
	float: left;
}

.float-right {
	float: right;
    clear: both;
}

.right {
    position: absolute;
    right: 0;
}

.middle {
    text-align: center;
    min-width: 82px; /* width of the loader image */
}

.centre {
    text-align: center;
    height: auto;
}

.service-loading {
    background-image: url("../images/red-line-loader.gif");
    background-repeat: no-repeat;
	background-position: center center;
    padding-left: 41px;
    padding-right: 41px;
}

.service-ok {
    background-image: url("../images/service-ok.png");
    background-repeat: no-repeat;
	background-position: left bottom;
    padding: 0px;
	padding-right: 25px; /* a bit more than the bg image */ 
    padding-top: 2px;
}

.service-error {
    background-image: url("../images/service-error.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: 0px;
	padding-right: 25px; /* a bit more than the bg image */ 
    padding-top: 2px;
}

/* Automation Service Types */
.service-type {
    background-image: url("../images/service-type-generic.png");
    background-repeat: no-repeat;
	background-position: left center;
    padding: 0px;
	padding-right: 20px; /* a bit more than the bg image */ 
    padding-top: 2px;
}
.service-type-nav { /* For the navigation menu */
    position: absolute;
	left: 25px; /* leave space at the left for the image*/ 
    top: calc(50% - 8px);
    height: 16px;
}
.service-type-job {
    background-image: url("../images/service-type-generic.png");
}
.service-type-codebuilder {
    background-image: url("../images/service-type-codebuilder.png");
}
.service-type-assetbuilder {
    background-image: url("../images/service-type-assetbuilder.png");
}
.service-type-integrator {
    background-image: url("../images/service-type-integrator.png");
}
.service-type-scriptbuilder {
    background-image: url("../images/service-type-scriptbuilder.png");
}
.service-type-commandrunner {
    background-image: url("../images/service-type-commandrunner.png");
}
.service-type-reporter {
    background-image: url("../images/service-type-database.png");
}
.service-type-mapnetworkexport {
    background-image: url("../images/service-type-mapnetworkexport.png");
}
.service-type-cutscenepackage,
.service-type-cutsceneexportnetwork,
.service-type-animationpackage,
.service-type-framecapture {
    background-image: url("../images/service-type-cutscene.png");
}

.content-loading {
    position: relative;
    /*
    border: 1px dashed #FF3300;
    */
    width: 550px;
    height: 120px;
    top: 15%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    padding: 0;
    
    background-image: url("../images/red-line-loader-big.gif");
    background-repeat: no-repeat;
    background-position: center center;   
}

.content-loading-error {
    position: relative;
    border: 1px solid #FF3300;
    border-radius: 5px;

    width: 550px;
    height: 50px;
    top: 15%;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    padding: 15px;
    font-size: 18px;
}

.spinner {
    min-width: 36px;
    min-height: 36px;
    padding-left: 42px;
    padding-top: 16px;

    background-image: url("../images/red-spinner.gif");
    background-repeat: no-repeat;
    background-position: center center;
}

.updating-message-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1100;
}

.updating-message-text {
    position: relative;
    border: 2px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    stop-opacity: 500;
    border-radius: 5px;
    z-index: 1150;

    width: 550px;
    height: 50px;
    top: 15%;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;

    color: #fff;
    padding: 15px;
    font-size: 18px;
}

.monospace {
    font-family: courier, "courier new", monospace;
}

.table-title-button {
    font-family: "Chalet-LondonSixty";
    font-size: 12px;
    line-height: 18px;

    text-transform: uppercase;
	background-color: #e6e6e6;
	color: #222222;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	padding: 2px 5px;
	margin: 0;
    margin-right: 5px;
    
	position: relative;
	cursor: pointer;
    float: left;
}

.table-title-button:hover {
    background-color: #F9F9FC;
}

.table-title-button.hide,
.table-title-button :focus {
    background-color: #F9F9FC;
    outline: 2px solid #FF3300 !important;
}

.flash-red {
    background-color: #FF3300;
    border-radius: 2px;
}

.outline-red {
    outline: solid 1px #FF3300;
}

a .button-link {
    text-decoration: none;
}

.button-link {
    text-decoration: none !important;
    cursor: pointer;
    padding: 5px 10px !important;
    margin-top: 5px !important;
    font-size: 13px !important;
    line-height: 18px !important;
    background: #e6e6e6;
    color: #000;
    border-radius: 4px;
    border: solid 1px #222222;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
    user-select: none;
}
.button-link:hover {
    background: #828890;
    border: solid 1px #333333;
    text-decoration: none;
}
.button-link:active {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #828890;
    border: solid 1px #444444;
}

#project-home {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 600px;

    border: #e9e9e9 1px solid;
    border-radius: 5px;
    padding: 30px;

}

#project-home .cutoff-info {
    text-align: left;
}

#project-home .cutoff-info .cutoff-info-indent{
    padding-left: 30px;
}

#project-home .sync-fieldset {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#project-home hr {
    border: #e9e9e9 4px solid;
}

#project-home fieldset legend {
    text-transform: none;
}

#project-home .big-title-font {
    font-size: 40px;
    line-height: 40px;
}

#project-home .big-font {
    font-size: 30px;
    line-height: 40px;
}

#project-home .small-font {
    font-size: 11px;
    line-height: 18px;
    font-weight: normal;
}

#project-home .right-middle {
    float: right;
    margin-top: 30px;
}

#project-home .sync-message-placeholder {
    margin-top: 10px;
    height: 30px;
}

#project-home #sync-message {
    margin-top: 10px;
    height: 30px;
    font-size: 20px;
    color: #828890;
}