﻿@model ToolsPortal.ViewModels.AutomationViewModel

@{
    ViewBag.Title = @Model.Title + " :: " + @ViewContext.RouteData.Values["action"]
                                + " :: " + @Model.SelectedView.Name + " - " + @Model.SelectedView.Service.Studio.FriendlyName;
    ViewBag.ContentTitle = @Model.Title + " :: " + @ViewContext.RouteData.Values["action"] + " :: <span class='last'>"
                            + @Model.SelectedView.Name + " - " + @Model.SelectedView.Service.Studio.FriendlyName + "</span>";

    String reportTypeSelectId = "available-report-types";
    String reportMetricSelectId = "available-report-metrics";
    String csvButtonId = "download-csv";

    ViewBag.ContentDescription = "Type: " + @Model.SelectedView.Service.ServiceType
                    + " - ServerHost: " + @Model.SelectedView.Service.ServerHost
                    + "<span class='right'>"
                        + "<span>Select Report Type: "
                            + "<select id='" + @reportTypeSelectId + "'></select>"
                        + "</span>"
                        + "<span> Select Report Metric: "
                            + "<select id='" + @reportMetricSelectId + "'></select>"
                        + "</span>"
                    + "</span>";
}

<!-- Import Automation Graphs -->
@Scripts.Render("~/bundles/AutomationGraphs")
<!-- Import NVD3 for Graphs -->
@Scripts.Render("~/bundles/nvd3")
@Styles.Render("~/Content/style/nvd3style")
@Scripts.Render("~/bundles/nvd3-linegraph")
@Scripts.Render("~/bundles/nvd3-stackedareagraph")
@Scripts.Render("~/bundles/tabular-report")

@{var divId = "report"; }
    
<div id="@divId" class="line-graph"></div> 
<script>
    $(document).ready(function () {
        var automationGraphsConfig = {
            elementId: "@divId",
            reportTitle: "Graph Data for @Model.SelectedView.Name",
            graphTypeSelectId: "@reportTypeSelectId",
            graphMetricSelectId: "@reportMetricSelectId",
            automationStatsRest: "@Url.Action("AutomationStatisticsPerHost", new { id = @Model.SelectedView.WebAlias })",
            automationStatsCSV: "@Url.Action("AutomationStatisticsPerHostCSV", new { id = @Model.SelectedView.WebAlias })",
        }

        var automationGraphs = new AutomationGraphs(automationGraphsConfig);
        automationGraphs.init();
    });
</script>
