﻿@using System.Configuration;
@using RSG.Model.Deployment.Game;
@model ToolsPortal.ViewModels.DeploymentViewModel

@{
    ViewBag.Title = @Model.Title;
    ViewBag.ContentTitle = ViewBag.Title;
    ViewBag.ContentDescription = @Model.SelectedProject.Name + " :: Game Build Versions";

    String confirmClassname = "confirm-delete";
}
@Scripts.Render("~/bundles/Deployment")

@if (Model.AllGameBuildVersions != null) {

    <table class="title-only">
        <tbody>
            <tr>
                <th class="title">
                    Game Build Versions
                    @*
                    @Html.ActionLink("+", "GameBuildVersionCreate", new { }, new { @class = "button-link", @title = "Create New Game Build Version"})
                    *@
                </th>
            </tr>
        </tbody>
    </table>

    <table id="">
        <thead>
            <tr>
                <th>Version</th>
                <th>Label</th>
                <th>Timestamp (UTC)</th>
                <th>Notes</th>        
                <th>Deployed</th>
                <th>Archived</th>
                
                <th colspan="3">Actions</th>
            </tr>
        </thead>
        <tbody>
        @{
            foreach (GameBuildVersion GameBuildVersion in Model.AllGameBuildVersions)
            {
                String VersionView = GameBuildVersion.MajorVersion
                        + ConfigurationManager.AppSettings["DeploymentVersionViewSeparator"]
                        + GameBuildVersion.MinorVersion;
                String VersionURI = GameBuildVersion.MajorVersion
                        + ConfigurationManager.AppSettings["DeploymentVersionURISeparator"]
                        + GameBuildVersion.MinorVersion;
                String FormattedTimestamp = Helpers.FormatDateCustomISO(GameBuildVersion.Timestamp).ToString();
            
                <tr>
                    <td>@VersionView</td>
                    <td>@GameBuildVersion.Label</td>
                    <td>@FormattedTimestamp</td>
                    <td>@GameBuildVersion.Notes</td>
                    <td>@GameBuildVersion.Deployed</td>
                    <td>@GameBuildVersion.Archived</td>
            
                    <td class="centre">
                        <a title="Details of @VersionView" href="@Url.Action("GameBuildVersionDetails", new { id = @VersionURI })">Details</a>
                    </td>
                    <td class="centre">
                        <a title="Edit @VersionView" href="@Url.Action("GameBuildVersionEdit", new { id = @VersionURI })">Edit</a>
                    </td>
                    <td class="centre">
                        @*
                        <a class="@confirmClassname" title="Delete @VersionView" href="@Url.Action("GameBuildVersionDelete", new { id = @VersionURI })">Delete</a>
                        *@
                        Delete
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
}

<script type="text/javascript">
    var deployment = new Deployment();
    deployment.addConfirmDialog("@confirmClassname", "Are you sure you want to delete this version?");
</script>
