﻿@using System.Configuration;
@model ToolsPortal.ViewModels.DeploymentViewModel

@{
    ViewBag.Title = @Model.Title;
    ViewBag.ContentTitle = ViewBag.Title;
    ViewBag.ContentDescription = @Model.SelectedProject.Name + " :: Game Build Version :: Edit";

    String VersionView = @Model.SelectedGameBuildVersion.MajorVersion
                        + ConfigurationManager.AppSettings["DeploymentVersionViewSeparator"]
                        + @Model.SelectedGameBuildVersion.MinorVersion;
    String VersionURI = @Model.SelectedGameBuildVersion.MajorVersion
                        + ConfigurationManager.AppSettings["DeploymentVersionURISeparator"]
                        + @Model.SelectedGameBuildVersion.MinorVersion;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <th class="title" colspan="2">
                Edit Version @VersionView
            </th>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedGameBuildVersion.MajorVersion)
            </td>
            <td>
                @Html.TextBoxFor(model => model.SelectedGameBuildVersion.MajorVersion, new { @readonly="readonly", @class="disabled" })
                @Html.ValidationMessageFor(model => model.SelectedGameBuildVersion.MajorVersion)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedGameBuildVersion.MinorVersion)
            </td>
            <td>
                @Html.TextBoxFor(model => model.SelectedGameBuildVersion.MinorVersion, new { @readonly="readonly", @class="disabled" })
                @Html.ValidationMessageFor(model => model.SelectedGameBuildVersion.MinorVersion)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedGameBuildVersion.Label)
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedGameBuildVersion.Label)
                @Html.ValidationMessageFor(model => model.SelectedGameBuildVersion.Label)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedGameBuildVersion.Timestamp)
            </td>
            <td>
                @Html.TextBoxFor(model => model.SelectedGameBuildVersion.Timestamp, new { @readonly="readonly", @class="disabled" })
                @Html.ValidationMessageFor(model => model.SelectedGameBuildVersion.Timestamp)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedGameBuildVersion.Notes)
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedGameBuildVersion.Notes)
                @Html.ValidationMessageFor(model => model.SelectedGameBuildVersion.Notes)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedGameBuildVersion.Deployed)
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedGameBuildVersion.Deployed)
                @Html.ValidationMessageFor(model => model.SelectedGameBuildVersion.Deployed)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedGameBuildVersion.Archived)
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedGameBuildVersion.Archived)
                @Html.ValidationMessageFor(model => model.SelectedGameBuildVersion.Archived)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedGameBuildVersion.ArchivePath)
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedGameBuildVersion.ArchivePath)
                @Html.ValidationMessageFor(model => model.SelectedGameBuildVersion.ArchivePath)
            </td>
        </tr>

    </table>
    
     <div class="centre">
        <input type="submit" title="Save @VersionView" value="Save" class="button-link" />
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        @Html.ActionLink("Cancel", "GameBuildVersionDetails", new { id = @VersionURI}, new { @class = "button-link", @title = "Cancel"})
    </div>
}

