﻿@using System.Configuration;
@using RSG.Model.Deployment.Game;
@model ToolsPortal.ViewModels.DeploymentViewModel

@{
    ViewBag.Title = @Model.Title;
    ViewBag.ContentTitle = ViewBag.Title;
    ViewBag.ContentDescription = @Model.SelectedProject.Name + " :: Game Build Machine Tracking";
}

@if (Model.AllGameBuildMachineTracking != null) {
    <table class="title-only">
        <tbody>
            <tr>
                <th class="title">Game Versions</th>
            </tr>
        </tbody>
    </table>

    <table id="">
        <thead>
            <tr>
                <th>Machine</th>
                <th>Platform</th>
                <th>Version</th>
                <th>Timestamp (UTC)</th>
            </tr>
        </thead>
        <tbody>
        @{
            foreach (GameBuildTracking GameBuildMachineTracking in Model.AllGameBuildMachineTracking)
            {
                String Version = GameBuildMachineTracking.MajorVersion
                        + ConfigurationManager.AppSettings["DeploymentVersionViewSeparator"]
                        + GameBuildMachineTracking.MinorVersion;
                String FormattedTimestamp = Helpers.FormatDateCustomISO(GameBuildMachineTracking.Timestamp).ToString();
            
                <tr>
                    <td>@GameBuildMachineTracking.MachineName</td>
                    <td>@GameBuildMachineTracking.Platform</td>
                    <td>@Version</td>
                    <td>@FormattedTimestamp</td>
                </tr>
            }
        }
        </tbody>
    </table>
}
