﻿@using System.Configuration;
@model ToolsPortal.ViewModels.DeploymentViewModel

@{
    ViewBag.Title = Model.Title;
    ViewBag.ContentTitle = ViewBag.Title;
    ViewBag.ContentDescription = Model.SelectedProject.Name + " :: Game Build Version :: Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <th class="title" colspan="2">
                Create New Version
            </th>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedGameBuildVersion.MajorVersion)
            </td>
            <td>
                @Html.TextBoxFor(model => model.SelectedGameBuildVersion.MajorVersion)
                @Html.ValidationMessageFor(model => model.SelectedGameBuildVersion.MajorVersion)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedGameBuildVersion.MinorVersion)
            </td>
            <td>
                @Html.TextBoxFor(model => model.SelectedGameBuildVersion.MinorVersion)
                @Html.ValidationMessageFor(model => model.SelectedGameBuildVersion.MinorVersion)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedGameBuildVersion.Label)
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedGameBuildVersion.Label)
                @Html.ValidationMessageFor(model => model.SelectedGameBuildVersion.Label)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedGameBuildVersion.Timestamp)
            </td>
            <td>
                @Html.TextBoxFor(model => model.SelectedGameBuildVersion.Timestamp, new { @readonly="readonly", @class="disabled" })
                @Html.ValidationMessageFor(model => model.SelectedGameBuildVersion.Timestamp)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedGameBuildVersion.Notes)
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedGameBuildVersion.Notes)
                @Html.ValidationMessageFor(model => model.SelectedGameBuildVersion.Notes)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedGameBuildVersion.Deployed)
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedGameBuildVersion.Deployed)
                @Html.ValidationMessageFor(model => model.SelectedGameBuildVersion.Deployed)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedGameBuildVersion.Archived)
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedGameBuildVersion.Archived)
                @Html.ValidationMessageFor(model => model.SelectedGameBuildVersion.Archived)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedGameBuildVersion.ArchivePath)
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedGameBuildVersion.ArchivePath)
                @Html.ValidationMessageFor(model => model.SelectedGameBuildVersion.ArchivePath)
            </td>
        </tr>

    </table>
    
     <div class="centre">
        <input type="submit" title="Save New Version" value="Save" class="button-link" />
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        @Html.ActionLink("Cancel", "GameBuildVersions", new { }, new { @class = "button-link", @title = "Cancel"})
    </div>
}

