﻿@using RSG.Base.Configuration.Portal;
@model ToolsPortal.ViewModels.DeploymentViewModel

@{
    ViewBag.Title = @Model.Title;
    ViewBag.ContentTitle = ViewBag.Title;
    ViewBag.ContentDescription = @Model.SelectedProject.Name + " ::  Home";

    String projectHomeDivId = "project-home";
    String bigTitleFontClass = "big-title-font";
    String bigFontClass = "big-font";
    String smallFontClass = "small-font";
    String cutoffInfoClass = "cutoff-info";
    String cutoffInfoIndentClass = "cutoff-info-indent";
    String syncFieldsetClass = "sync-fieldset";
    String syncButtonId = "sync-button";
    String syncMessageId = "sync-message";
    String syncMessagePlaceholderClass = "sync-message-placeholder";
    String shortcutMenuItemRadiogroupName = "shortcut-menu";
    
}
@Scripts.Render("~/bundles/Project")

<div id="@projectHomeDivId">
    <br />
    <div class="@bigTitleFontClass">
        Local Build Version: @Model.LocalBuildVersionString
    </div>
    <div class="@smallFontClass">
        See Build Notes For @Model.LocalBuildVersionString
    </div>

    <hr />
    <br />
    
    <div class="@bigFontClass">
        Current Build Version: @Model.CurrentGameBuildVersionString
    </div>

    <div class="@cutoffInfoClass">
        Build Information:
        <br /><br />
        <div class="@cutoffInfoIndentClass">
            Changelist Cutoff: - [?]
            <br /><br />
            Cutscene Data Changelist Cutoff: - [?]
            <br /><br />
            In-Game Animation Data Cutoff: - [?]
        </div>
    </div>

    <br /><br />
        
    @if (Model.ProjectPortalConfig.ShortcutMenuItems.Count() > 0)
    {
        <fieldset class="@syncFieldsetClass">
        <legend>Get Current Build</legend>
            <div class="float-left">
                @{ IPortalShortcutMenuItemConfig FirstShortcutMenuItem = Model.ProjectPortalConfig.ShortcutMenuItems.First(); }
                @foreach (IPortalShortcutMenuItemConfig ShortcutMenuItem in Model.ProjectPortalConfig.ShortcutMenuItems)
                {   
                    <input type="radio" name="@shortcutMenuItemRadiogroupName" id="@ShortcutMenuItem.Guid" value="@ShortcutMenuItem.Guid"
                            @Helpers.AddTextIfCondition(ShortcutMenuItem.Guid.Equals(FirstShortcutMenuItem.Guid), "checked='checked'") />
                    <label for="@ShortcutMenuItem.Guid" title="@ShortcutMenuItem.Name">@ShortcutMenuItem.Name</label>
                    <br/>
                }
            </div>
            <div class="right-middle">
                <input type="button" id="sync-button" title="Sync" value="Sync" class="button-link" />
            </div>
        </fieldset>
        <div class="@syncMessagePlaceholderClass">
            <div id="@syncMessageId"></div>
        </div>
    }

    <hr />
    <br />
    <div class="@bigFontClass">
        Next Build Version: @Model.NextGameBuildVersionString
    </div>
</div>

<script type="text/javascript">
    var project = new Project();
    var syncButtonConfig = {
        shortcutMenuItemRadiogroupName: "@shortcutMenuItemRadiogroupName",
        syncControllerUri: "@Url.Action("SyncBuilds", "Project")",
        syncButtonId: "@syncButtonId",
        syncMessageId: "@syncMessageId",
    }

    project.addSyncButtonEvent(syncButtonConfig);
</script>