﻿@using System.Configuration;
@model ToolsPortal.ViewModels.DeploymentViewModel

@{
    ViewBag.Title = Model.Title;
    ViewBag.ContentTitle = ViewBag.Title;
    ViewBag.ContentDescription = Model.SelectedProject.Name + " :: Tools Version :: Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        
    <table>
        <tr>
            <th class="title" colspan="2">
                Create New Version
            </th>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedToolsVersion.MajorVersion)
            </td>
            <td>
                @Html.TextBoxFor(model => model.SelectedToolsVersion.MajorVersion)
                @Html.ValidationMessageFor(model => model.SelectedToolsVersion.MajorVersion)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedToolsVersion.MinorVersion)
            </td>
            <td>
                @Html.TextBoxFor(model => model.SelectedToolsVersion.MinorVersion)
                @Html.ValidationMessageFor(model => model.SelectedToolsVersion.MinorVersion)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedToolsVersion.GameMajorVersion)               
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedToolsVersion.GameMajorVersion)
                @Html.ValidationMessageFor(model => model.SelectedToolsVersion.GameMajorVersion)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedToolsVersion.GameMinorVersion)        
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedToolsVersion.GameMinorVersion)
                @Html.ValidationMessageFor(model => model.SelectedToolsVersion.GameMinorVersion)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedToolsVersion.Bug)
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedToolsVersion.Bug)
                @Html.ValidationMessageFor(model => model.SelectedToolsVersion.Bug)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedToolsVersion.Time)
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedToolsVersion.Time)
                @Html.ValidationMessageFor(model => model.SelectedToolsVersion.Time)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedToolsVersion.Timestamp)
            </td>
            <td>
                @Html.TextBoxFor(model => model.SelectedToolsVersion.Timestamp, new { @readonly="readonly", @class="disabled" })
                @Html.ValidationMessageFor(model => model.SelectedToolsVersion.Timestamp)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedToolsVersion.Notes)
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedToolsVersion.Notes)
                @Html.ValidationMessageFor(model => model.SelectedToolsVersion.Notes)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedToolsVersion.Revision)
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedToolsVersion.Revision)
                @Html.ValidationMessageFor(model => model.SelectedToolsVersion.Revision)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedToolsVersion.Tests)
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedToolsVersion.Tests)
                @Html.ValidationMessageFor(model => model.SelectedToolsVersion.Tests)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedToolsVersion.AssetsUsed)
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedToolsVersion.AssetsUsed)
                @Html.ValidationMessageFor(model => model.SelectedToolsVersion.AssetsUsed)
            </td>
        </tr>

        <tr>
            <td class="label">
                @Html.LabelFor(model => model.SelectedToolsVersion.KnownIssues)
            </td>
            <td>
                @Html.EditorFor(model => model.SelectedToolsVersion.KnownIssues)
                @Html.ValidationMessageFor(model => model.SelectedToolsVersion.KnownIssues)
            </td>
        </tr>

    </table>

    <div class="centre">
        <input type="submit" title="Save New Version" value="Save" class="button-link" />
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        @Html.ActionLink("Cancel", "ToolsVersions", new { }, new { @class = "button-link", @title = "Cancel"})
    </div>
}