﻿@using System.Xml.Linq;
@model RSG.ToolsPortal.ViewModels.UlogViewModel

@{
    var pageTitle = "Universal Log Viewer";

    ViewBag.Title = pageTitle + Model.TitleSeparator + Model.Title;
    ViewBag.ContentTitle = Model.Title + Model.TitleSeparator + "<span class='last'>" + pageTitle;
    ViewBag.ContentDescription = " ServerHost: " + Model.ServerHost + " - " 
                                + "Job ID: " + ((Model.Job != null) ? Model.Job.ID.ToString() : "");

    var tableCloneId = "ulog-clone";                                
    var tableId = "ulog";
}

<!-- Import Ulog Style -->
@Styles.Render("~/Content/style/ulog")
<!-- Import Scripts -->
@Scripts.Render("~/bundles/ulog")

@Helpers.RenderJobInfoTable(@Model.Job)
@if ((Model.UlogXDocument != null) && (Model.UlogXDocument.Elements().Count() > 0)) {
    String NonErrorClass = String.Empty;
    if (!Model.ErrorsOnly) 
    {
        NonErrorClass = "selected";
    }
        
    <div id="filters">
        <span class="filter-wrap hand selected exception" key="exception" title="Toggle Exceptions">Exceptions</span>
        <span class="filter-wrap hand selected error tool_error" key="error" title="Toggle Errors">Errors</span>
        <span class="filter-wrap hand @NonErrorClass warning" key="warning" title="Toggle Warnings">Warnings</span>
        <span class="filter-wrap hand @NonErrorClass message" key="message" title="Toggle Info Messages">Info Messages</span>
        <span class="filter-wrap hand @NonErrorClass profile" key="profile" title="Toggle Profile Messages">Profile Messages</span>
        <span class="filter-wrap hand @NonErrorClass debug" key="debug" title="Toggle Debug Messages">Debug Messages</span>
        <input type="text" id="filter" title="Type text to filter" />
    </div>
    
    <table class="title-only">
        <thead>
            <tr>
                <th class="title">
                    <span id="job-type">@Model.Job.GetType().ToString().Split('.').Last() (Hover for More Info)</span>
                    <span id="colvis-button"></span>
                    
                    <span style="float: right;">
                        @using (Html.BeginForm("DownloadULog", "Ulog", FormMethod.Post, new { id = "download-ulog-form" })) {
                            @Html.AntiForgeryToken()
                            <input type="hidden" id="ServerHost" name="ServerHost" value="@Model.ServerHost">
                            <input type="hidden" id="JobID" name="JobID" value="@Model.Job.ID">

                            <input id="download-ulog-button" class="red-button hand" type="submit" 
                                       name="download-ulog-button" title="Download Log" value="Download Log" />
                        }
                    </span>
                    @if (@Model.HasBuildMonitorFile) {
                        <span style="float: right;">
                            @using (Html.BeginForm("DownloadBuildMonitor", "Ulog", FormMethod.Post, new { id = "download-buildmon-form" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" id="ServerHost" name="ServerHost" value="@Model.ServerHost">
                                <input type="hidden" id="JobID" name="JobID" value="@Model.Job.ID">

                                <input id="download-buildmon-button" class="red-button hand" type="submit" 
                                           name="download-buildmon-button" title="Download Build Monitor" value="Download Build Monitor" />
                            }
                        </span>
                    }
                </th>
            </tr>
        </thead>
    </table>
    
    <table id="@tableCloneId" class="tablesorter hidden">
        <thead>
            <tr>
                <th class="level-cell" title="Level">Level</th>
                <th class="timestamp-cell" title="Timestamp">Timestamp</th>
                <th class="context-cell" title="System Context">System Context</th>
                <th class="context-cell" title="Message Context">Message Context</th>
                <th class="message-cell" title="Message">Message</th>
            </tr>
        </thead>

    @foreach (var systemContext in Model.UlogXDocument.Descendants("context"))
    {
        foreach (var element in systemContext.Elements())
        {
            XAttribute timeticks = element.Attribute("timestamp_ticks");
            if (timeticks != null) 
            {

                DateTime timestamp = new DateTime(Convert.ToInt64(@timeticks.Value), DateTimeKind.Utc);
                String SystemContext = (@systemContext.Attribute("name") != null) ? @systemContext.Attribute("name").Value : String.Empty;
                String MessageContext = (@element.Attribute("context") != null) ? @element.Attribute("context").Value : String.Empty;
                String Value = (@element.Value != null) ? @element.Value : String.Empty;
                String Name = (@element.Name != null) ? @element.Name.ToString() : String.Empty;
            
                <tr class="@Name" key="@Name">
                    <td class="cell-icon" title="@Name"></td>
                    <td class="timestamp-cell" title="@timestamp.ToString("s")">@timestamp.ToString("s")</td>
                    <td class="context-cell" title="@SystemContext">@Helpers.TruncateString(@SystemContext, 35)</td>
                    <td class="context-cell" title="@MessageContext">@Helpers.TruncateString(@MessageContext, 35)</td>
                    <td class="message-cell" title="@element.Value">@element.Value</td>
                </tr>
            }
        }
    }
    </table>
    
    <table id="@tableId">
        <thead>
            <tr>
                <th class="level-cell" title="Level">Level</th>
                <th class="timestamp-cell" title="Timestamp">Timestamp</th>
                <th class="context-cell" title="System Context">System Context</th>
                <th class="context-cell" title="Message Context">Message Context</th>
                <th class="message-cell" title="Message">Message</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    
    <script type="text/javascript">
        $(document).ready(function() {
            setupUlog("@tableCloneId", "@tableId");
        });
    </script>    
}


