﻿#filters {
	position: relative;
	padding: 0px;
    margin-top: 2px;
	margin-bottom: 2px;
}

#filters span {
    text-transform: uppercase;
	margin: 0;
    padding-left: 18px;

    background-repeat: no-repeat;
    background-position: left center;

    opacity: 0.5;
}

#filters span.selected {
    opacity: 1;
}

.filter-wrap {
    padding: 3px;
    margin-right: 3px;
    border: solid 1px rgba(0, 0, 0, 0.25);    
}

/* input text   */
#filters input[type=text] {
    width: 200px;
    outline: none;
	transition: all 0.25s ease-in-out;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin: 2px;
	font-style: italic;
	opacity: 0.7;
}

#filters input[type=text]:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.25); 
}

/* input text */
.level-cell {
	min-width: 30px;
    cursor: default;
}
.timestamp-cell {
    min-width: 115px;
}
.context-cell {
    word-wrap: break-word;
    min-width: 100px;
}
.message-cell {
    word-wrap: break-word;
    white-space: pre-wrap;
    width: auto;
    font-family: courier, "courier new", monospace;
    /*width: calc(100% - 100px);*/
}

.error td.message-cell,
.tool_error td.message-cell {
    color: red;
}

.cell-icon {
    background-repeat: no-repeat;
    background-position: center center;
}

.exception td.cell-icon,
.tool_exception td.cell-icon,
span.exception {
    background-image: url(../images/exception16.png);
}
.error td.cell-icon,
.tool_error td.cell-icon,
span.error {
    background-image: url(../images/error16.png);
}
.warning td.cell-icon,
span.warning {
    background-image: url(../images/warning16.png);
}
.message td.cell-icon,
span.message {
    background-image: url(../images/information16.png);
}
.profile td.cell-icon,
.profile_end td.cell-icon,
span.profile {
    background-image: url(../images/profile16.png);
}
.debug td.cell-icon,
span.debug {
    background-image: url(../images/debug16.png);
}

.ui-tooltip {
    position: absolute;
    font-family: "Chalet-LondonSixty";
	font-size: 13px;
	line-height: 18px;
    width: auto;
    background: none;
    border-width: 0;
}

.job-info-tooltip {
    min-width: 36px;
	min-height: 36px;

    width: auto;
    height: auto;

    max-width: 800px;
	max-height: 600px;

	background-color: #fff;
	border: 2px solid #eee;
	border-radius: 2px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
	opacity: 0.95;
	z-index: 1000;

	overflow-y: auto;
	overflow-x: auto;
}

.job-info-tooltip table th,
.job-info-tooltip table td {
    height: 8px;
    font-size: 11px;
    padding: 1px;
    margin: 0;
}
