﻿@using RSG.Pipeline.Automation.Common.Jobs;
@using RSG.Pipeline.Automation.Common.Triggers;

@*** Returns the respective class when the url is matched with the current one  ***@
@helper AddClass(String CurrentUrl, String ClassName) {
    @((@CurrentUrl == @Request.Url.AbsolutePath) ? @ClassName : "")
}

@helper AddTextIfCondition(bool Condition, String Text) {
    @((Condition) ? Text : "")
}

@helper FormatDateCustomISO(DateTime date) {
    String format = "yyyy-MM-dd HH:mm:ss";
    @date.ToString(format);
}

@helper TruncateString(String Text, int MaxChars) {
    if (@Text == String.Empty || @Text.Length <= MaxChars)
    {
        @Text;
        return;
    }
       
    if (MaxChars < 3) {
        MaxChars += 3;
      }
    
    @(@Text.Substring(0, @MaxChars-3) + "...");
    
}

@helper RenderJobInfoTable(Job job) {
    if (@job != null) {
        IEnumerable<uint> changelists = job.Trigger.ChangelistNumbers();
        IEnumerable<String> usernames = job.Trigger.Usernames();
        String changelistsText = "";
        if (changelists.Count() > 0)
        {
            changelistsText = (changelists.Count() > 1)
                                ? "Changelists (" + changelists.Count() + "): " + changelists.First() + " --> " + changelists.Last()
                                : "Changelist: " + (changelists.First());
        }
        String usernamesText = "";
        if (usernames.Count() > 0) 
        {
            usernamesText = (usernames.Count() > 1)
                            ? "Usernames (" + usernames.Count() + "): " + usernames.First() + " --> " + usernames.Last()
                            : "Username: " + usernames.First();
        }
        
    <div class="hidden">
     <div class="job-info-wrapper">
        <div class="job-info monospace">
        <table>
            <tr>
                <th colspan="2" class="title">Job Details</th>
            </tr>
            <tr>  
                <td>ID:</td>
                <td>@job.ID</td>
            </tr>

            @if (!job.ConsumedByJobID.ToString().StartsWith("0000")) {
                <tr>
                    <td>Consumed By:</td>
                    <td>job.ConsumedByJobID</td>
                </tr>
            }
            <tr>
                <td>State:</td>
                <td>@job.State</td>
            </tr>
            <tr>
                <td>Priority:</td>
                <td>@job.Priority</td>
            </tr>
            <tr>
                <td>Triggered At (UTC):</td>
                <td>@Helpers.FormatDateCustomISO(job.Trigger.TriggeredAt) (@changelistsText, @usernamesText)</td>
            </tr>
            <tr>
                <td>Created At (UTC):</td>
                <td>@Helpers.FormatDateCustomISO(job.CreatedAt)</td>
            </tr>
            <tr>
                <td>Processed At (UTC):</td>
                <td>@Helpers.FormatDateCustomISO(job.ProcessedAt) (Processing Time: @job.ProcessingTime.ToString())</td>
            </tr>
            <tr>
                <td>Completed At (UTC):</td>
                <td>@Helpers.FormatDateCustomISO(job.CompletedAt)</td>
            </tr>
            <tr>
                <td>Processing Host:</td>
                <td>@job.ProcessingHost</td>
            </tr>

            @if (job.GetType() == typeof(CodeBuilder2Job)) {
                <tr>
                    <td>Solution Filename:</td>
                    <td>@(((CodeBuilder2Job) job).SolutionFilename)</td>
                </tr>
                <tr>
                    <td>Platform:</td>
                    <td>@(((CodeBuilder2Job) job).Platform)</td>
                </tr>
                <tr>
                    <td>Build Config:</td>
                    <td>@(((CodeBuilder2Job) job).BuildConfig)</td>
                </tr>
                <tr>
                    <td>Tool:</td>
                    <td>@(((CodeBuilder2Job) job).Tool)</td>
                </tr>
                <tr>
                    <td>Rebuild:</td>
                    <td>@(((CodeBuilder2Job) job).Rebuild)</td>
                </tr>
                <tr>
                    <td>Target Dir:</td>
                    <td>@(((CodeBuilder2Job) job).TargetDir)</td>
                </tr>
                <tr>
                    <td>Publish Dir:</td>
                    <td>@(((CodeBuilder2Job) job).PublishDir)</td>
                </tr>
                <tr>
                    <td>Skip Consume:</td>
                    <td>@(((CodeBuilder2Job) job).SkipConsume)</td>
                </tr>  
                <tr>
                    <td>Post Job Notify:</td>
                    <td>@(((CodeBuilder2Job) job).RequiresPostJobNotification)</td>
                </tr>                
            }

        </table>
        </div>
      </div>
    </div>
    }
}
