﻿@model ToolsPortal.ViewModels.BaseViewModel

@{
    ViewBag.Title = @Model.Title + " :: Projects";
    ViewBag.ContentTitle = ViewBag.Title;
    ViewBag.ContentDescription = "Please select a project from the list below in order to proceed";
}

<div id="projects-net">
@foreach(var project in @Model.AvailableProjects) {

    Boolean isProjectAuthorised = false;
    
    foreach (ToolsPortal.Classes.PseudoBugstarConfig bugstarConfig in project.BugstarConfigs) {
        if (User.IsInRole(bugstarConfig.BugstarID)) {
            isProjectAuthorised = true;
            break;
        }
    }

    if (isProjectAuthorised)
    {
    <div class="project-cell">
        <a href="@Url.Action("Index", "Project/" + @project.RouteName)" title="@project.Name"> 
            <img alt="@project.ShortName Logo" src="@Url.Content(@project.LogoPath)" /><br />@project.Name</a>
    </div>
    }
}
</div>
