/* begin css tabs */

html {
  background-color: #070707;
  color: #e8e8e8;
  margin:0;
  padding:0;
}
body {
	color:  #CCC;
	background: url(bg.jpg) no-repeat scroll center top;
	font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	width: 100%;
}

p {
  margin-bottom: 1em;
}

em {
  font-style: oblique;
}

h1, h2, h3, h4, h5, strong, th {
  font-weight: bold;
}

h1 {
	font-size: 1.5em;
	color: #CCC;
}

h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 0.9em;
}
li {
	color:#CCC;
}

/* Links ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

a,
a.ui-state-hover,
input.ui-state-hover,
button.ui-state-hover {
  color: #ffffcc !important;
  cursor: pointer !important;
  text-decoration: none;
  -moz-outline-style: none;
}

a:hover,
 {
  text-decoration: underline;
}

/* bluerobot.com settings */
#Header {
	margin:0px 0px 0px 0px;
	padding: 15px 0px 0px 40px;
	/* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
	border-style:solid;
	border-color:#AAA;
	border-width:2px 0px; /* top and bottom borders: 1px; left and right borders: 0px */
	line-height:8px;
	/*background-color:#eee;*/

	font-size: 1.5em;
	color: #AAA;
	
/* Here is the ugly brilliant hack that protects IE5/Win from its own stupidity. 
Thanks to Tantek Celik for the hack and to Eric Costello for publicizing it. 
IE5/Win incorrectly parses the "\"}"" value, prematurely closing the style 
declaration. The incorrect IE5/Win value is above, while the correct value is 
below. See http://glish.com/css/hacks.asp for details. */
	voice-family: "\"}\"";
	voice-family:inherit;
	height:28px; /* the correct height */
}

#Content {
	margin:40px 50px 50px 200px;
	padding:10px;
	}

#Menu {
	position:absolute;
	top:140px;
	left:20px;
	width:172px;
	padding:10px;
/*	background-color:#eee;*/
	border:1px dashed #999;
	line-height:17px;
/* Again, the ugly brilliant hack. */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:150px;
	}
/* Again, "be nice to Opera 5". */
body>#Menu {width:150px;}


	
ul#tabnav { /* general settings */
text-align: left; /* set to left, right or center */
margin: 1em 0 1em 0; /* set margins as desired */
font: bold 11px verdana, arial, sans-serif; /* set font as desired */
border-bottom: 1px solid #AAA; /* set border COLOR as desired */
list-style-type: none;
padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li { /* do not change */
display: inline;
}

body#tab1 li.tab1, body#tab2 li.tab2, body#tab3 li.tab3, body#tab4 li.tab4 { /* settings for selected tab */
border-bottom: 1px solid #AAA; /* set border color to page background color */
background-color: #AAA; /* set background color to match above border color */
}

body#tab1 li.tab1 a, body#tab2 li.tab2 a, body#tab3 li.tab3 a, body#tab4 li.tab4 a { /* settings for selected tab link */
background-color: #FFF; /* set selected tab background color as desired */
color: #000; /* set selected tab link color as desired */
position: relative;
top: 1px;
padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a { /* settings for all tab links */
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #AAA; /* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color:#444; /* set unselected tab background color as desired */
color: #444; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}

ul#tabnav a:hover { /* settings for hover effect */
background: #555; /* set desired hover color */
}

/* end css tabs */
