
#tabs{
	/*margin-bottom: 5em;*/
	margin-right: 5px;
	margin-left: 5px;
}

#tabs li .ui-icon-close {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0.1em;
	cursor: pointer;
}

#tabs .ui-tabs-panel table a,
#tabs .ui-tabs-panel #jobdetail a {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}
#tabs .ui-tabs-panel table a:hover,
#tabs .ui-tabs-panel #jobdetail a:hover {
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}

#action-status {
	font-weight: bold;
	margin: 5px;
	padding: 5px;
	border-radius: 2px;
}
#action-status.success {
	/*
	background-color: #fcc465;
	border: 0.1em solid #8c8c8c;
	*/
	color: #ffffff;
	background-color: rgba(130, 136, 144, 1); /* Same as table.title	*/
	border: 1px solid #222;
}
#action-status.failed {
	/*
	background-color: #e6e6e6;
	border: 0.1em solid #fcc465;
	color: red;
	*/
	color: #ffffff;
	background-color: #FF3300;
	border: 1px solid #222;
}

#coordinator-log a {
	color: #666666;
	text-decoration: underline;
}
#coordinator-log a:hover {
	text-decoration: none; 
}

.user {
  	position: absolute;
	display: none;
	width: 350px;
	height: 170px;
	/*background-color: #fcd797;*/
	/*border: 2px solid #eee;*/
	color: #fff;
	background-color: rgba(130, 136, 144, 1); 
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	box-shadow: 4px 4px 8px rgba(0,0,0,.5);
	opacity: 0.95;
	z-index: 1000;
	padding: 0;
}

.user img {
	position: absolute;
	left: 0px;
	top: 0px; 
	margin: 5px;
	width: 120px;
	height: 160px;
}

.user .user-info {
	position: absolute;
	left: 125px;
	margin: 5px;
}

.user .user-info .user-info-name {
	font-weight: bold;
	font-size: small;
}
.user .user-info .user-info-rest {
	font-size: x-small;
}

.data-id {
	width: 10em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/*display: block;*/
}

.job-files {
  	position: absolute;
	max-width: 800px;
	/*max-width: 800px;*/
	max-height: 400px;
	background-color: #fff;
	border: 2px solid #eee;
	border-radius: 2px;
	box-shadow: 4px 4px 8px rgba(0,0,0,.5);
	opacity: 0.95;
	z-index: 1000;
	overflow-y: auto;
	overflow-x: auto;
}

/*
.job-files table {
	margin: 2.5%;
	border: 1px solid #eee;
	width: 95%;
}

.job-files table th{
	background-color: #FCC465;
}
.job-files table td .even{
	background-color: #fff;
}
.job-files table td .odd{
	background-color: #eee;
}
*/

/* Job Results*/
/*
.job-results {
  	position: absolute;
  	display: block;
	width: auto;
	max-width: 250px;
	max-height: 400px;
	background-color: #fff;
	border: 2px solid #eee;
	border-radius: 2px;
	box-shadow: 4px 4px 8px rgba(0,0,0,.5);
	opacity: 0.95;
	z-index: 1000;
	overflow-y: auto;
	overflow-x: hidden;
}

.job-results table {
	margin: 2.5%;
	border: 1px solid #eee;
	width: 95%;
}

.job-results table th{
	background-color: #FCC465;
}
.job-results table td .even{
	background-color: #fff;
}
.job-results table td .odd{
	background-color: #eee;
}
*/
.data-view {
	text-align: center;
}

#joblist span {
	padding: 5px;
	margin-right: 5px;
	/*border-radius: 10px;*/
	border-radius: 2px;
}

.pending { background-color: rgba(50, 124, 203, 0.5); }
.pending td.sorting_1 { background-color: rgba(50, 124, 203, 0.3); }
.pending td.sorting_2 { background-color: rgba(50, 124, 203, 0.2); }
.pending td.sorting_3 { background-color: rgba(50, 124, 203, 0.1); }

.assigned { background-color: rgba(247, 196, 31, 0.5); }
.assigned td.sorting_1 { background-color: rgba(247, 196, 31, 0.3); }
.assigned td.sorting_2 { background-color: rgba(247, 196, 31, 0.2); }
.assigned td.sorting_3 { background-color: rgba(247, 196, 31, 0.1); }

.completed { background-color: rgba(124, 163, 65, 0.5); }
.completed td.sorting_1 { background-color: rgba(124, 163, 65, 0.3); }
.completed td.sorting_2 { background-color: rgba(124, 163, 65, 0.2); }
.completed td.sorting_3 { background-color: rgba(124, 163, 65, 0.1); }

.errors { background-color: rgba(128, 9, 9, 0.5); }
.errors td.sorting_1 { background-color: rgba(128, 9, 9, 0.3); }
.errors td.sorting_2 { background-color: rgba(128, 9, 9, 0.2); }
.errors td.sorting_3 { background-color: rgba(128, 9, 9, 0.1); }

.skipped { background-color: rgba(51, 34, 34, 0.5); }
.skipped td.sorting_1 { background-color: rgba(51, 34, 34, 0.3); }
.skipped td.sorting_2 { background-color: rgba(51, 34, 34, 0.2); }
.skipped td.sorting_3 { background-color: rgba(51, 34, 34, 0.1); }
 
.aborted { background-color: rgba(229, 52, 114, 0.5); }
.aborted td.sorting_1 { background-color: rgba(229, 52, 114, 0.3); }
.aborted td.sorting_2 { background-color: rgba(229, 52, 114, 0.2); }
.aborted td.sorting_3 { background-color: rgba(229, 52, 114, 0.1); }

.clienterror { background-color: rgba(248, 100, 90, 0.5); }
.clienterror td.sorting_1 { background-color: rgba(248, 100, 90, 0.3); }
.clienterror td.sorting_2 { background-color: rgba(248, 100, 90, 0.2); }
.clienterror td.sorting_3 { background-color: rgba(248, 100, 90, 0.1); }
