html,
body
{
  margin: 0px;
  padding: 0px;
  color: black !important;
  background-color: white !important;
}

a:link
{
  color: #f57900;
}

a:visited
{
  color: #ce5c00;
}

div.header
{
  position: relative;
  margin: 0px;
  padding: 0px;
}

div.header div.title
{
  background: url(logo.png) no-repeat;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.1em rgb(200, 200, 200);
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 210px;
  height: 65px;
}

div.header div.title a,
div.header div.title a:link,
div.header div.title a:visited
{
  color: black;
  text-decoration: none;
}

div.header div.title span
{
  display: block;
  padding-left: 180px;
  margin-bottom: 2px;
}

div.header div.title span.title
{
  padding-top: 20px;
}

div.header div.title span.title-separator
{
  display: none;
}

div.header div.title span.title-project
{
  padding-bottom: 20px;
}

ul.other-languages
{
  position: absolute;
  top: 0px;
  right: 50px;
  padding: 0px;
  margin: 0px;
}

ul.other-languages li
{
  display: block;
  float: left;
  margin-left: 10px;
}

ul.other-languages li a
{
  display: block;
  height: 11px;
  width: 16px;
  text-indent: -100000px;
  outline: none;
}

ul.other-languages li#other-language-english
{
  background: url(us.png) no-repeat;
}

ul.other-languages li#other-language-japanese
{
  background: url(jp.png) no-repeat;
}

ul.menu
{
  background: url(bar.png) repeat-x;
  height: 38px;
  padding: 0;
  margin: 0;
  padding-top: 12px;
  padding-left: 50px;
  padding-bottom: 0px;
  margin-top: 16px;
  margin-left: 0px;
  margin-bottom: 0px;
  font-family: sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 100% !important;
}

ul.menu li
{
  display: inline;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  padding-left: 0px;
}

ul.menu li a
{
  color: #fed08e;
  text-decoration: none;
  padding-left: 20px;
}

ul.menu li a:hover
{
  text-decoration: underline;
}

ul.menu li a:visited
{
  color: #ffb84f;
}

ul.menu li#menu-reference
{
  background: url(reference.png) no-repeat;
}

ul.menu li#menu-tutorial
{
  background: url(tutorial.png) no-repeat;
}

ul.menu li#menu-install
{
  background: url(install.png) no-repeat;
}

ul.menu li#menu-developer
{
  background: url(developer.png) no-repeat;
}

div.content
{
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}

div.main
{
  margin-right: 170px;
}

div.main p
{
  line-height: 150%;
}

div.main h2,
div.day h3
{
  margin-left: -45px;
  text-indent: 45px;
  height: 36px;
  background: url(heading-mark.png) no-repeat;
  clear: both;
}

div.sidebar
{
  clear: both;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 150px;
  background-color: white;
  padding-left: 10px;
  border-left: solid 1px black;
  height: 100%;
}

div.sidebar h2
{
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  padding-bottom: 5px;
}

div.sidebar ul
{
  margin: 0px;
  padding: 0px;
}

div.sidebar ul li
{
  list-style-type: none;
  margin-bottom: 5px;
}

div.sponsors
{
  border-top: solid black 1px;
  position: relative;
}

div.sponsors p
{
  margin: 0px;
}

div.sponsors p#sponsor-rubyforge
{
  position: absolute;
  top: 15px;
  right: 50px;
}

div.sponsors p#sponsor-tango
{
  position: absolute;
  top: 50px;
  right: 50px;
}

div.sponsors p#sponsor-famfamfam
{
  position: absolute;
  top: 118px;
  right: 50px;
  padding-bottom: 50px;
}

dt
{
  margin-bottom: 0.25em;
}

dd
{
  margin-bottom: 0.5em;
}

pre
{
  overflow: auto;
}

pre.command,
pre.code,
dd
{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0.2em 0.2em 0.5em rgb(100, 100, 100);
  -webkit-box-shadow: 0.2em 0.2em 0.5em rgb(100, 100, 100);
  box-shadow: 0.2em 0.2em 0.5em rgb(100, 100, 100);
}

pre.command
{
  color: white;
  background-color: black;
  padding: 5px 10px;
}

pre.code
{
  border: solid 1px #abf562;
  background: #d8ffb2;
  padding: 5px 10px;
}

img.eye-catch
{
  float: right;
}

dl.feature-list
{
  clear: both;
}

dl.feature-list dd
{
  border: solid 1px #729fcf;
  background: #e6f3ff;
  padding: 5px 10px;
}

/* for RDoc */
body.indexpage,
body.class,
body.module,
body.file
{
  margin: 0 !important;
}

body.indexpage div.content
{
  margin: 1em 3em !important;
}

body.class div.content,
body.module div.content,
body.file div.content
{
  margin: 40px !important;
}
