body {
	background: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* Social club css */
    font-size: 13px;
    line-height: 18px;
    
    width: 98%;
    
    margin-left:auto; 
    margin-right:auto;
}

#header {
	position: relative;
	/*border-radius: 0.8em;*/
	border: solid 0.1em #ccc;
	/*box-shadow: 0.1em 0.1em #ccc;*/
	padding: 0.5em;
	margin-bottom: 0.2em;
}

#header label {
    text-transform: uppercase;
	margin-right: 0.5em;
}

#content {
    
}

table {
	width: 100%;
	margin-bottom: 0.5em;
	
	border-collapse: collapse;
	border-spacing: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	border-left: 1px solid rgba(0, 0, 0, 0.25);
}

table th {
	padding: 0.5em;
	color: #222;
	background-color: rgba(230, 230, 230, 1);
	text-transform: uppercase;
	border-right: 1px solid rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

table td {
	padding: 0.3em;
	font-weight: bold;
	border-right: 1px solid rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

table td a{
	text-decoration: none;
}

table td a:hover{
	text-decoration: underline;
}

table.tablesorter thead tr .header {
	background-image: url(/images/sort-bg.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/images/sort-asc.png);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/images/sort-desc.png);
}
table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp {
	background-color: rgba(200, 200, 200, 1);
}

input {
	font-size: 13px;
    line-height: 18px;
    padding: 4px;
}

input[type=text] {
	outline: none;
	transition: all 0.25s ease-in-out;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin: 2px;
	width: 20em;
	font-style: italic;
	opacity: 0.7;
}

input[type=text]:focus {
    box-shadow: 0 0 5px #fcb131;
    border: 1px solid #fcb131; 
}

.type-cell {
	width: 6em;
}

.timestamp-cell {
	width: 15em;
}

.context-cell {
	width: 6em;
}

.error {
	color: #960000;
}

.warning {
	color: #848723;
}

.message {
	color: #456ab9;
}
