<style Type="text/css">

.leeds {
	background-color: #ffffff;
	color: #0000ff;
}

.rdrcode {
	background-color: #f4b7c9;
}

.rdrmig {
	background-color: #ffffdd;
}

.rdrwip {
	background-color: #dddd33;
}

.rdrdemo {
	background-color: #ffaaaa;
}

.rdrjpn {
	background-color: #ffffff;
	color: #ff0000;
}

.rdrpc {
	background-color: #cccccc;
	color: #000000;
}

body {
	font-family: tahoma;
	font-size: 10pt;
}
td {
	font-family: tahoma;
	font-size: 10pt;
	background-color: #ddddff;
}
address {
	border-top: thin inset gray;
	border-bottom: thin inset gray;
}
p {
	padding: 10px
}
</style>
