
#tabs{
	margin-right: 5px;
	margin-left: 5px;
}

#tabs li .ui-icon-close {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0.1em;
	cursor: pointer;
}

#tabs .ui-tabs-panel table a,
#tabs .ui-tabs-panel #jobdetail a {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}
#tabs .ui-tabs-panel table a:hover,
#tabs .ui-tabs-panel #jobdetail a:hover {
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}

#action-status {
	font-weight: bold;
	margin: 5px;
	padding: 5px;
	border-radius: 2px;
}
#action-status.success {
	color: #ffffff;
	background-color: rgba(130, 136, 144, 1); /* Same as table.title */
	border: 1px solid #222;
}
#action-status.failed {
	color: #ffffff;
	background-color: #FF3300;
	border: 1px solid #222;
}

#coordinator-log a {
	color: #AAA;
	text-decoration: underline;
}
#coordinator-log a:hover {
	text-decoration: none; 
}

#tasklist table.dataTable tr:hover {
    background: #e6e6e6;
    cursor: pointer;
}
#tasklist table.dataTable tr.selected {
    background: repeating-linear-gradient( 45deg, #e6e6e6, #e6e6e6 10px, #ffffff 10px, #ffffff 20px );
}

input[type="text"] {
    width: 120px;
}

.user {
  	position: fixed;
	display: none;
	width: 370px;
	height: 170px;
	color: #fff;
	background-color: rgba(130, 136, 144, 1); 
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
	opacity: 0.95;
	z-index: 2000;
	padding: 0;
}

.user .img-wrap {
	position: absolute;
	left: 0px;
	top: 0px; 
	margin: 5px;
	width: 120px;
	height: 160px;

    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.user img {
    padding: 0;
    margin: 0;
	width: 120px;
}

.user .user-info {
	position: absolute;
	left: 125px;
	margin: 5px;
}

.user .user-info .user-info-name {
	font-weight: bold;
	font-size: small;
}
.user .user-info .user-info-rest {
	font-size: x-small;
}

.data-id {
	width: 10em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.job-files {
  	position: fixed;
	max-width: 800px;
	max-height: 400px;
	background-color: #fff;
	border: 2px solid #eee;
	border-radius: 2px;
	box-shadow: 4px 4px 8px rgba(0,0,0,.5);
	opacity: 0.95;
	z-index: 1000;
	overflow-y: auto;
	overflow-x: auto;
}

.data-view {
	text-align: center;
}

#joblist span {
	padding: 5px;
	margin-right: 5px;
	/*border-radius: 10px;*/
	border-radius: 2px;
}

/* Blue #5FE1F0 */
.pending  { background-color: rgba(95, 225, 240, 0.3) !important;}
.pending_variation { background-color: rgba(95, 225, 240, 0.175) !important; }
.pending td.sorting_1 { background-color: rgba(95, 225, 240, 0.175) !important; }
.pending td.sorting_2 { background-color: rgba(95, 225, 240, 0.175) !important; }
.pending td.sorting_3 { background-color: rgba(95, 225, 240, 0.175) !important; }
.pending_gradient
{
    background: repeating-linear-gradient( 45deg, rgba(95, 225, 240, 0.3), rgba(95, 225, 240, 0.3) 10px,
                                                rgba(95, 225, 240, 0.175) 10px, rgba(95, 225, 240, 0.175) 20px );
}
.pending_font  { color: rgba(95, 225, 240, 1) !important;}

/* Yellow #fcda34 */
.assigned { background-color: rgba(252, 240, 52, 0.4) !important; }
.assigned_variation { background-color: rgba(252, 218, 52, 0.275) !important; }
.assigned td.sorting_1 { background-color: rgba(252, 218, 52, 0.275) !important; }
.assigned td.sorting_2 { background-color: rgba(252, 218, 52, 0.275) !important; }
.assigned td.sorting_3 { background-color: rgba(252, 218, 52, 0.275) !important; }
.assigned_gradient
{
    background: repeating-linear-gradient( 45deg, rgba(252, 240, 52, 0.4), rgba(252, 240, 52, 0.4) 10px,
                                                rgba(252, 218, 52, 0.275) 10px, rgba(252, 218, 52, 0.275) 20px );
}
.assigned_font { color: rgba(252, 240, 52, 1) !important; }
.reassigned { background-color: rgba(252, 190, 52, 0.6) !important; }
.reassigned_variation { background-color: rgba(252, 190, 52, 0.4) !important; }
.reassigned_gradient
{
    background: repeating-linear-gradient( 45deg, rgba(252, 190, 52, 0.6), rgba(252, 190, 52, 0.6) 10px,
                                                rgba(252, 190, 52, 0.4) 10px, rgba(252, 190, 52, 0.4) 20px );
}

/* Green #4fbc3f */
.completed { background-color: rgba(79, 188, 63, 0.45) !important;}
.completed_variation { background-color: rgba(79, 188, 63, 0.3) !important; }
.completed td.sorting_1 { background-color: rgba(79, 188, 63, 0.3) !important; }
.completed td.sorting_2 { background-color: rgba(79, 188, 63, 0.3) !important; }
.completed td.sorting_3 { background-color: rgba(79, 188, 63, 0.3) !important; }
.completed_gradient
{
    background: repeating-linear-gradient( 45deg, rgba(79, 188, 63, 0.45), rgba(79, 188, 63, 0.45) 10px,
                                                rgba(79, 188, 63, 0.3) 10px, rgba(79, 188, 63, 0.3) 20px );
}
.completed_font { color: rgba(79, 188, 63, 1) !important; }

/* Red #ff4020 [255, 64, 52] (old - #fc6634 [252, 102, 52]) */
.errors { background-color: rgba(255, 64, 52, 0.55) !important; }
.errors_variation { background-color: rgba(255, 64, 52, 0.4) !important; }
.errors td.sorting_1 { background-color: rgba(255, 64, 52, 0.4) !important; }
.errors td.sorting_2 { background-color: rgba(255, 64, 52, 0.4) !important; }
.errors td.sorting_3 { background-color: rgba(255, 64, 52, 0.4) !important; }
.errors_gradient
{
    background: repeating-linear-gradient( 45deg, rgba(255, 64, 52, 0.55), rgba(255, 64, 52, 0.55) 10px,
                                                rgba(255, 64, 52, 0.4) 10px, rgba(255, 64, 52, 0.4) 20px );
}
.errors_font { color: rgba(255, 64, 52, 1) !important; }

/* Grey #646464 */
.skipped, .skippedconsumed { background-color: rgba(100, 100, 100, 0.4) !important; }
.skipped_variation, .skippedconsumed_variation { background-color: rgba(100, 100, 100, 0.275) !important; }
.skipped td.sorting_1, .skippedconsumed td.sorting_1 { background-color: rgba(100, 100, 100, 0.275) !important; }
.skipped td.sorting_2, .skippedconsumed td.sorting_2 { background-color: rgba(100, 100, 100, 0.275) !important; }
.skipped td.sorting_3, .skippedconsumed td.sorting_3 { background-color: rgba(100, 100, 100, 0.275) !important; }
.skipped_gradient, .skippedconsumed_gradient
{
    background: repeating-linear-gradient( 45deg, rgba(100, 100, 100, 0.4), rgba(100, 100, 100, 0.4) 10px,
                                                rgba(100, 100, 100, 0.275) 10px, rgba(100, 100, 100, 0.275) 20px );
}
.skipped_font, .skippedconsumed_font { color: rgba(100, 100, 100, 1) !important; }

/* Purple #8b66e3 */
.aborted { background-color: rgba(139, 102, 227, 0.4) !important; }
.aborted_variation { background-color: rgba(139, 102, 227, 0.275) !important; }
.aborted td.sorting_1 { background-color: rgba(139, 102, 227, 0.275) !important; }
.aborted td.sorting_2 { background-color: rgba(139, 102, 227, 0.275) !important; }
.aborted td.sorting_3 { background-color: rgba(139, 102, 227, 0.275) !important; }
.aborted_gradient
{
    background: repeating-linear-gradient( 45deg, rgba(139, 102, 227, 0.4), rgba(139, 102, 227, 0.4) 10px,
                                                rgba(139, 102, 227, 0.275) 10px, rgba(139, 102, 227, 0.275) 20px );
}
.aborted_font { color: rgba(139, 102, 227, 1) !important; }

/* Orange #fcc134 */
.clienterror { background-color: rgba(252, 193, 52, 0.6) !important; }
.clienterror_variation { background-color: rgba(252, 193, 52, 0.475) !important; }
.clienterror td.sorting_1 { background-color: rgba(252, 193, 52, 0.475) !important; }
.clienterror td.sorting_2 { background-color: rgba(252, 193, 52, 0.475) !important; }
.clienterror td.sorting_3 { background-color: rgba(252, 193, 52, 0.475) !important; }
.clienterror_gradient
{
    background: repeating-linear-gradient( 45deg, rgba(252, 193, 52, 0.6), rgba(252, 193, 52, 0.6) 10px,
                                                rgba(252, 193, 52, 0.475) 10px, rgba(252, 193, 52, 0.475) 20px );
}
.clienterror_font { color: rgba(252, 193, 52, 1) !important; }

.download-ulog {
    position: absolute;
    right: 0;
}

.relative {
    position: relative;
}

.bgradius
{
    border-radius: 5px;
    padding: 2px;
}

/* Empty Cell */
.empty-cell {
    background-image: url(../images/white-horizontal-tile.png);
}

/** Jobmatrix View **/
#jobMatrix {
    width: 100%;
    height: auto;
    position: relative;

    margin: 0 auto;
    clear: both;
    table-layout: fixed;
    /*
    font-size: 11px;
    */
}

#jobMatrix .dataTables_scrollHeadInner {
    padding-left: 0px !important;
}

#jobMatrix .dataTables_scrollHeadInner table,
#jobMatrix .DTFC_LeftHeadWrapper table {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#jobMatrix .DTFC_LeftBodyLiner {
    overflow-x: hidden;
}

#jobMatrix .dataTables_scrollBody table,
#jobMatrix .DTFC_LeftBodyWrapper table {
    border-top: none;
}
#jobMatrix .dataTables_scrollBody table thead tr th {
    border-bottom: none;
}

#jobMatrix .dataTables_scrollBody table thead th,
#jobMatrix .dataTables_scrollBody table tbody td {
    /*border-left: none;*/
}

#jobMatrix table.dataTable th,
#jobMatrix table.dataTable th.sorting_disabled,
#jobMatrix table.dataTable td,
#jobMatrix table th {
    margin: 0;
    padding: 2px;
    cursor: default;
}

#jobMatrix table.dataTable td {
    background-color: #ffffff;
    min-height: 36px !important;
    height: 36px !important;
    max-height: 36px !important;
    word-wrap: break-word !important;
    text-overflow: ellipsis !important;
}

#jobMatrix table.dataTable td img,
#jobMatrix table.dataTable td a img,
#jobMatrix table td img,
#jobMatrix table td a img {
    margin: 0;
    padding: 0;
    border: none;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
}

#jobMatrix table.dataTable td a img:hover,
#jobMatrix table td a img:hover {
    background-color: #222;
}

#jobMatrix table th.lowercase,
#jobMatrix table th div.lowercase,
#jobMatrix table.dataTable th.lowercase {
    margin: 0;
    padding: 2px;
    text-transform: none;
    cursor: default;
}

#jobMatrix table.dataTable th.small-font,
#jobMatrix table th.small-font
{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    white-space: pre;
}

#jobMatrix table.dataTable thead th, 
#jobMatrix table.dataTable thead td, 
#jobMatrix table thead th {
    border-bottom: 1px solid #222;
}

#jobMatrix input[type="text"] {
    width: 250px;
}

.ui-tooltip {
    position: absolute;
    font-family: "Chalet-LondonSixty";
	font-size: 13px;
	line-height: 18px;
    width: auto;
    background: none;
    border-width: 0;
}

.user-tooltip {
	min-width: 385px;
    width: auto;
	height: 170px;
	color: #ffffff;
	background: rgba(130, 136, 144, 1) !important;
	border: 1px solid rgba(0, 0, 0, 0.5) !important;
	border-radius: 2px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
	opacity: 0.95 !important;
	z-index: 2000;
	padding: 0;
}

.user-tooltip .img-wrap {
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 5px;
	width: 120px;
	height: 160px;

    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.user-tooltip img {
    padding: 0;
    margin: 0;
	width: 120px;
}

.user-tooltip .user-info {
	position: absolute;
	left: 125px;
	margin: 5px;
}

.user-tooltip .user-info .user-info-name {
	font-weight: bold;
}
.user-tooltip .user-info .user-info-rest {
	/* font-size: smaller; */
}

.job-tooltip {
    min-width: 36px;
	min-height: 36px;

    width: auto;
    height: auto;

    max-width: 800px;
	max-height: 600px;

	background-color: #ffffff;
	border: 2px solid #eeeeee;
	border-radius: 2px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
	opacity: 0.95;
	z-index: 2000;

	overflow-y: auto;
	overflow-x: auto;

    white-space: pre-wrap;
}

.job-tooltip table th,
.job-tooltip table td {
    height: 8px;
    font-size: 11px;
    padding: 1px;
    margin: 0;
}

.summary-tooltip {
    min-width: 36px;
	min-height: 36px;

    width: auto;
    height: auto;

    max-width: 800px;
	max-height: 600px;

	background-color: #ffffff;
	border: 2px solid #eeeeee;
	border-radius: 2px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
	opacity: 0.95;
	z-index: 2000;

	overflow-y: auto;
	overflow-x: auto;

    white-space: pre-wrap;
}

.summary-tooltip table th,
.summary-tooltip table td {
    height: 8px;
    font-size: 11px;
    padding: 1px;
    margin: 0;
}

.fixed-cl-width {
    min-width: 80px !important;
    width: 80px !important;
    max-width: 80px !important;
    word-wrap: break-word;
}
.fixed-user-width,
.fixed-buddy-width
 {
    min-width: 120px !important;
    width: 120px !important;
    max-width: 120px !important;
    word-wrap: break-word;
}
.fixed-dp-width {
    min-width: 330px !important;
    width: 330px !important;
    max-width: 330px !important;
    word-wrap: break-word;
}
.fixed-time-width {
    min-width: 200px !important;
    width: 200px !important;
    max-width: 200px !important;
    word-wrap: break-word;
}

.highlighted-td {
    border-bottom: 1px dashed #FF3300 !important;
    border-right: 2px dashed #FF3300 !important;
    border-left: 2px dashed #FF3300 !important;
}

#generatedAt {
    padding: 2px;
}

#automation-status th {
    padding: 2px;
}

#automation-status td {
    min-height: 36px !important;
    height: 36px !important;
}

#automation-status td img {
    border: 0;
}

.status-stats-column {
    min-width: 30px;
    width: 30px;
}

.status-jobs-column {
    min-width: 470px;
    width: 470px;
}

.status-clients-column{
    min-width: 110px;
    width: 110px;
}

/* Trigger & Job Types */
.trigger-type-class, .job-type-class {
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
    margin: 0;
	padding-right: 8px !important;
    padding-left: 8px !important;
}

.changelist-trigger-type {
    background-image: url("../images/trigger-changelist.png");
}
.user-request-trigger-type {
    background-image: url("../images/trigger-userrequest.png");
}
.time-trigger-type {
    background-image: url("../images/trigger-time.png");
}
.monitor-trigger-type {
    background-image: url("../images/trigger-monitor.png");
}
.jobchanges-trigger-type {
    background-image: url("../images/trigger-jobchanges.png");
}
.multi-trigger-type {
    background-image: url("../images/trigger-multi.png");
}
.trigger-type-button {
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0px !important;
    padding-right: 10px !important;
	padding-left: 10px !important;
    outline: 1px solid rgba(0, 0, 0, 0.50);
    opacity: 0.5;
}
.trigger-type-button.selected {
    opacity: 1.0;
}

.reprocess-job-type {
    background-image: url("../images/job-reprocess.png");
}

.state-button {
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    outline: 1px solid rgba(0, 0, 0, 0.50);
    opacity: 0.5;
}
.state-button.selected {
    opacity: 1.0;
}

.custom-middle {
    min-width: 70px;
    text-align: center;
}

.custom-right {
    text-align: right;
    float: right;
}

.custom-left {
    text-align: left;
    border-right: 0;
}

.custom-left button {
    margin: 2px;
    padding: 5px 5px;
}

#table-entries {
    float: left;
}

#table-entries select {
    padding: 6px 5px;
    margin: 2px 0;
}