td, th {
	font-family: tahoma;
	font-size: 10pt;
}


ul li{
	padding: 0px;
	margin: 0px;
}

tr.BANK td {
	padding: 1px;
	margin: 1px;
	background-color: RGB(240,240,255);
	border-top: solid RGB(220,220,240) 2px;
	border-left: solid RGB(220,220,240) 2px;
	border-bottom: solid RGB(180,180,200) 2px;
	border-right: solid RGB(180,180,200) 2px;
}
tr.WAVE td {
	padding: 1px;
	margin: 1px;
	background-color: RGB(240,255,240);
	border-top: solid RGB(220,240,220) 2px;
	border-left: solid RGB(220,240,220) 2px;
	border-bottom: solid RGB(180,200,180) 2px;
	border-right: solid RGB(180,200,180) 2px;
}

tr.STREAM td {
	padding: 1px;
	margin: 1px;
	background-color: RGB(255,240,240);
	border-top: solid RGB(240,220,220) 2px;
	border-left: solid RGB(240,220,220) 2px;
	border-bottom: solid RGB(200,180,180) 2px;
	border-right: solid RGB(200,180,180) 2px;
}