.compare {
    border-radius: 25px;
    background-color: #f0f0f0;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    opacity: 0;
    display: none;
}
.active
{
    color: black;
    font-style: bold;
    font-size: 25px;
}
.pages
{
    display: block;
    margin-block-start: .75em;
    margin-block-end: .25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 5px;
}
.prev, .next {
  cursor: pointer;
  width: 8%;
  line-height: 100px;
  text-align: center;
  background-color: #c0c0c0;
  transition: background-color 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  height: 100%;
  max-height: 90vh;
}
.arrows {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
  user-select: none;
  font-size: 18px;
}
div #nav 
{
    margin: auto;
    text-align: center;
}
/* Position the "next button" to the right */
.next {
  float: right;
  border-radius: 3px 0 0 3px;
}
.prev {
  float: left;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover, .sizer:hover {
    background-color: #8d8d8d;
}

body
{
    background-color: #fafafa;
}
.diff_container
{
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    width: 80%;
    max-height: 90vh;
}
table
{
    width: 100%;
}

td
{
    vertical-align: top;
    padding-left: 4px;
    padding-right: 4px;
    display: table-cell;
    font-family: monospace;
}
tbody
{
    font-size: 10pt;
    border-style:groove;
}
thead
{
    height: 40px;
}
table.diff
{
    font-family:Courier;
    border: medium;
}
.diff_header
{
    border-left: none;
    border-top: none;
    border-right: 1px solid Black;
    background-color:#e0e0e0;
    
}
td.diff_header
{
    text-align: right;
}
.diff_next
{
    background-color:#c0c0c0;
}
.diff_add
{
    font-weight: bold;
    background-color:#aaffaa;
}
.diff_chg
{
    font-weight: bold;
    background-color:#ffff77;
}
.diff_sub
{
    font-weight: bold;
    background-color:#ffaaaa;
}
.diff_line
{
  white-space: pre-wrap;
}
tr:nth-child(even)
{
    background-color: #fafafa;
}
tr:nth-child(odd)
{
    background-color: #fff;
}
.SectionGap td
{
    height: 20px;
    border: none;
    border-style: none;
    background-color:#f2f2f2;
    color: #aaa;
    text-align: center;
}
.SectionGap .diff_next
{
    background-color:#c0c0c0;
    border: none;
}
tr.SectionAll td { border-left: none; border-top: none; border-bottom: 1px solid Black; border-right: 1px solid Black; }
tr.SectionBegin td { border-left: none; border-top: none; border-right: 1px solid Black; }
tr.SectionEnd td { border-left: none; border-top: none; border-bottom: 1px solid Black; border-right: 1px solid Black; }
tr.SectionMiddle td { border-left: none; border-top: none; border-right: 1px solid Black; }
tr.SubsectionAll td { border-left: none; border-top: none; border-bottom: 1px solid Gray; border-right: 1px solid Black; }
tr.SubsectionEnd td { border-left: none; border-top: none; border-bottom: 1px solid Gray; border-right: 1px solid Black; }
