﻿@model RSG.ToolsPortal.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = "Tools Portal :: Log in";
    ViewBag.ContentTitle = "Log in";
}

<div id="login-form">
@using (Html.BeginForm(new { ReturnUrl = @ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()

    <div id="login-div">
        <table>
            <tr>
                <th colspan="2">@ViewBag.ContentTitle</th>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.UserName)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Password)
                </td>
                <td>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" id="login-submit" value="Log in" />
                </td>
            </tr>

        </table>
    </div>
}
</div>
