﻿@using RSG.Base.Configuration.Portal
@model RSG.ToolsPortal.ViewModels.BaseViewModel

@{
    String projectsTitle = "Projects";
    ViewBag.Title = projectsTitle + Model.TitleSeparator + Model.Title;
    ViewBag.ContentTitle = Model.Title + Model.TitleSeparator + projectsTitle;
    ViewBag.ContentDescription = "Please select a project from the list below in order to proceed";
}

<div id="projects-net">
@foreach(var project in @Model.AvailableProjects) {

    Boolean isProjectAuthorised = false;
    
    foreach (IPortalBugstarConfig bugstarConfig in project.BugstarConfigs) 
    {
        if (User.IsInRole(bugstarConfig.BugstarID)) {
            isProjectAuthorised = true;
            break;
        }
    }

    if (isProjectAuthorised)
    {
        <div class="project-cell">
            <a href="@project.GetPortalProjectUri()" title="@project.Name"> 
                <img alt="@project.ShortName Logo" src="@Url.Content(@project.LogoPath)" />
                <br />
                @project.Name
            </a>
        </div>
    }
}
</div>