table { color: blue;
	font-size: 11pt}
th {	background-color: b0e0ff;
	color: darkblue 	 }
tr.evenrow {background-color: d0f0ff}
table.summary {font-size: 9pt}
td.sumcell {vertical-align: top}
caption {font-size: 14pt}
.copyright {    font-size: 9pt;
		color: blue}
.veryhigh {color: e10000}
.high     {color: a0a000}
td.veryhigh {color: e10000}
td.high     {color: a0a000}
