/* Local modifications to nv.d3.css so the original stays intact */

.nvd3.nv-pie path {
  stroke: #aaa;
  stroke-width: 0.5;
  stroke-opacity: 0.5;
}

.nvd3.nv-pie .nv-slice text {
	font-size: smaller;
	stroke: none;
	stroke-width: 0;
}

.clickable .nv-slice:hover {
	cursor: pointer;
}

.nv-legendWrap rect {
	fill: transparent;
	stroke: #aaa;
  	stroke-width: 1px;
  	stroke-opacity: 1;
}

.nvtooltip {
    position: fixed;

	font-family: "Chalet-LondonSixty";
  	font-size: 13px;
  	line-height: 18px;
  	
  	border: 0px solid rgba(255, 255, 255, 0.8);
  	background-color: #393939; /* same as the nav */
  	color: #ffffff;

    border-radius: 2px;
  	
  	transition: opacity 100ms linear;
  	transition-delay: 100ms;
}

.nvtooltip h3 {
    border-radius: 2px;
    background-color: rgba(247, 247, 247, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.nvtooltip table {
	border-collapse: collapse;
}

.nvtooltip table td {
	border: 1px solid rgba(255, 255, 255, 0.8);
}

.donut-label {
	fill: #999999;
	font-family: "Chalet-LondonSixty";
  	font-size: 20px;
  	line-height: 18px;
}

.pie-label {
	fill: #999999;
	font-family: "Chalet-LondonSixty";
  	font-size: 14px;
  	line-height: 14px;
}

/* Circles */
.nvd3.nv-scatter .nv-groups .nv-point,
.nvd3 .nv-groups .nv-point {
    fill-opacity: 0 !important;
    stroke-opacity: 0.95 !important;
    stroke-width: 3px;
}
