<%@ Page Language="C#" MasterPageFile="~/TitleMgr.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Rockstar.Rockon.Default" Title="Home" %>
<%@ MasterType VirtualPath="~/TitleMgr.Master"%>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
