<%@ Page Language="C#" MasterPageFile="~/TitleMgr.Master" AutoEventWireup="true" CodeBehind="Leaderboards.aspx.cs" Inherits="Rockstar.Rockon.Leaderboards" Title="Leaderboards" %>
<%@ MasterType VirtualPath="~/TitleMgr.Master"%>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
