<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.Master.cs" Inherits="Rockstar.Rockon.MasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body id="BodyTag" runat="server">
    <div id="header">
        <h1 id="logo"><a href="Default.aspx">RockOn</a></h1>
        <asp:ContentPlaceHolder ID="NavBarPlaceHolder" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    <br />
    <div id="content" style="background-image: url(App_Themes/Theme1/RStarGrey.gif); background-repeat: no-repeat; height: 600px; background-position: center center;">
        <form id="form1" runat="server">
            <asp:ContentPlaceHolder ID="UnprotectedContent" runat="server">
            </asp:ContentPlaceHolder>
            <asp:ContentPlaceHolder ID="ProtectedContent" runat="server">
            </asp:ContentPlaceHolder>
            <asp:Label ID="YouAreNotWorthyLabel" runat="server" Font-Bold="True" ForeColor="Red"
                Text="You are not authorized to view this page" Visible="False">
            </asp:Label>
        </form>
    </div>
</body>
</html>
