
.tooltip {
  position: absolute;
  
  background-color: #393939; /* same as the nav */
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.8);
  
  padding: 10px;

  z-index: 10000;

  font-family: "Chalet-LondonSixty";
  font-size: 13px;
  line-height: 18px;

  transition: opacity 100ms linear;
  transition-delay: 100ms;
  box-shadow: 4px 4px 8px rgba(0,0,0,.5);
  border-radius: 10px;

  pointer-events: none;
  user-select: none;
  /*
  min-width: 10em;
  min-height: 5em;
  */
  width: auto;
  height: auto;
  display: none;
  opacity: 0.95;
}

.tooltip .title {
	font-weight: bold;
	text-align: center;
}

/*
.tooltip table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 0px;
  	margin: 0;
  	padding: 0;
}
*/

.tooltip td.right {
	text-align: right;
}

.tooltip table {
	border-collapse: collapse;
}

.tooltip table td {
	border: 1px solid rgba(255, 255, 255, 0.8);
}
