 @import url("/shared/css/fonts.css");

body {
    margin: 0;
    padding: 0;
}

.red-button {
	text-transform: uppercase;
	background-color: #ff3300;
	color: #ffffff;
	border: 0;
	border-radius: 5px;
	padding: 3px 12px;
	margin: 0;
        	
    font-family: "Chalet-LondonSixty";
    font-size: 12px;
    line-height: 18px;
}

.hand {
	cursor: pointer;
}