/* Local modifications to token-input-facebook.css so the original stays intact */

ul.token-input-list-facebook {
    overflow-y: scroll;
    height: 85px !important;
    /*height: 100% !important;*/
    width: auto;
    border: 1px solid #ccc;
    z-index: 2000;
    color: #000;
}

fieldset.socialclub ul.token-input-list-facebook,
fieldset.socialclub-tab ul.token-input-list-facebook,
fieldset.freemode ul.token-input-list-facebook {
    height: 100px !important;
}
fieldset.socialclub-freemode ul.token-input-list-facebook {
    height: 80px !important;
}
fieldset.socialclub-map ul.token-input-list-facebook {
    height: 25px !important;
}
div.group-admin ul.token-input-list-facebook {
    height: 50% !important;
}

li.token-input-selected-token-facebook {
    background-color: #024d90;
    border: 1px solid #ccc;
}

div.token-input-dropdown-facebook {
	position: absolute;
	/*max-width: 300px;*/
	width: auto;
	z-index: 1500;
	color: #000;
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}

div.group-admin div.token-input-dropdown-facebook {
	max-height: 50%;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: #024d90;
    color: #fff;
}

div.token-input-dropdown-item2-facebook {
    color: #000;
}

ul.token-input-list-facebook li input {
	float: none !important;
}
