﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="BuildHistoryList.ascx.cs" Inherits="Controls_BuildHistoryList" %>
<p align="center" style="font-size: 24pt; font-weight: bold; color: #FFFFFF">
    Build History
</p>
<asp:Panel ID="MainPanel" runat="server" HorizontalAlign="Center">
</asp:Panel>