﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="BuildStatusList.ascx.cs" Inherits="Controls_BuildStatusList" %>
<p align="center" style="font-size: 24pt; font-weight: bold; color: #FFFFFF">
    Build Summaries
</p>
<asp:Panel ID="MainPanel" runat="server" HorizontalAlign="Center">
</asp:Panel>

