﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="BuildSummaryControl.ascx.cs" Inherits="Controls_BuildSummaryControl" %>
<asp:GridView ID="ObjectGridView" runat="server" CssClass="leftColText" 
    Font-Size="Medium" ForeColor="White" GridLines="Vertical">
    <AlternatingRowStyle BackColor="#3A4F63" />
</asp:GridView>


