li{
	font-family:tahoma; 
	font-size: 10pt;
	margin-bottom:3px;
	padding-left: 5px;
	padding-right: 5px;
}
 
ul{	
	list-style: none;
	padding:2px;
	margin-top: 3px;
	margin-bottom:5px;
	margin-left:10px;
	margin-right:10px;
	padding-left:3px;

}

a.weeLink{
	font-size: smaller;
	text-decoration: none;
}

li.WaveFolder,li.BankFolder {
	background-color: RGB(255,255,245);
	border-top: solid RGB(240,240,225) 2px;
	border-left: solid RGB(240,240,225) 2px;
	border-bottom: solid RGB(200,200,165) 2px;
	border-right: solid RGB(200,200,165)  2px;
}

li.Pack {
	background-color: RGB(245,245,245);
	border-top: solid RGB(230,230,230) 2px;
	border-left: solid RGB(230,230,230) 2px;
	border-bottom: solid RGB(200,200,200) 2px;
	border-right: solid RGB(200,200,200) 2px;
}

li.Bank {
	background-color: RGB(230,255,230);
	border-top: solid RGB(220,255,220) 2px;
	border-left: solid RGB(220,255,220) 2px;
	border-bottom: solid RGB(190,230,190) 2px;
	border-right: solid RGB(190,230,190) 2px;
}

li.Wave {
	background-color: RGB(240,240,240);
	border-top: solid RGB(220,220,220) 2px;
	border-left: solid RGB(220,220,220) 2px;
	border-bottom: solid RGB(180,180,180) 2px;
	border-right: solid RGB(180,180,180) 2px;
}

span.ss{
	font-color: RGB(100,100,100);	
	opacity:0.4;
}

table{
	border-collapse: collapse;
}

TR.sizeTooBig TD{
	border:solid red 2px;
	font-weight: bold;
	color: darkred;
}

TR.sizeQuiteBig TD{
	border:solid darkred 1px;
}

TR.sizenormal TD{
	border:solid black 1px;
}

table.BankSizeTable TR TD,TH {
	font-family:tahoma; 
	font-size: 10pt;
	padding: 5px;
}

TH {
	border: solid black 1px;
}
