body
{
    margin: 0;
    padding: 0;
    background: silver;
    color: black;
    font-family:"Trebuchet MS",sans-serif;
}

#header
{
    margin:0;
    padding: 0;
    position: relative;
    height: 5em;
    background: gray;
}
#header h1#logo
{
    margin:0;
    padding-right: 10px;
    color: white;
    padding-top: 10px;
    text-align: right;
 }
#logo a
{
    text-decoration: none;
    color: white;
}
#nav-global
{
    position:absolute;
    padding:0;
    margin:0;
    bottom:0;
    left:0;
    white-space:nowrap;
}
#nav-global li
{
    display:block;
    float:left;
    list-style-type:none;
    margin:0;
    padding:0;
}
#nav-global a
{
    display: block;
    color: white;
    padding: 5em 16px 10px 16px;
    text-decoration: none;
}
#nav-global a:hover
{
    color: white;
    background: darkgray;
}
#content
{
    padding-left: 10px;
    width: 100%;
}
.home #nav-home a, .titlebootstrap #nav-titlebootstrap a, .titleconfig #nav-titleconfig a, .leaderboards #nav-leaderboards a
{
    color: white;
    background: #000000;
}
.logout
{
    position: absolute;
    right: 0px;
    text-decoration: none;
    color: black;
    padding-right: 10px;
}
